@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
body {
  margin: 0;
}

.mainSectionWrapper {
  background-color: #161616;
}
.mainSectionWrapper .mainSection {
  padding: 0 15px;
  flex: 1 1 auto;
  max-width: 1300px;
  margin: 0 auto;
}
@media (min-width: 1025px) and (max-width: 1600px) {
  .mainSectionWrapper .mainSection {
    max-width: calc(1000px + 300 * (100vw - 1025px) / 575);
  }
}
@media (min-width: 770px) and (max-width: 1000px) {
  .mainSectionWrapper .mainSection {
    max-width: calc(600px + 400 * (100vw - 770px) / 400);
  }
}
.mainSectionWrapper .mainSection__header {
  position: relative;
  display: flex;
  align-items: center;
}
.mainSectionWrapper .mainSection__header-firstBlock {
  display: flex;
  align-items: center;
  gap: 100px;
}
.mainSectionWrapper .mainSection__header-firstBlock-buttonsWrap button {
  position: relative;
  padding: 27px 15px;
  border: none;
  background: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  overflow: hidden;
  z-index: 10;
}
.mainSectionWrapper .mainSection__header-firstBlock-buttonsWrap button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom left, rgb(255, 35, 35), rgb(255, 118, 241));
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: -1;
}
.mainSectionWrapper .mainSection__header-firstBlock-buttonsWrap button:hover::before {
  opacity: 1;
}
.mainSectionWrapper .mainSection__header-lastBlock {
  display: none;
}
@media screen and (max-width: 770px) {
  .mainSectionWrapper .mainSection__header-lastBlock {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    gap: 12px;
  }
}
.mainSectionWrapper .mainSection__header-title {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  text-transform: uppercase;
  color: white;
}
.mainSectionWrapper .mainSection__content {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  padding: 25px 0 45px 0;
}
.mainSectionWrapper .mainSection__content-imageWrapper {
  position: relative;
}
.mainSectionWrapper .mainSection__content-imageWrapper-img {
  width: 100%;
  height: 310px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 320px) and (max-width: 426px) {
  .mainSectionWrapper .mainSection__content-imageWrapper-img {
    display: none;
  }
}
.mainSectionWrapper .mainSection__content-imageWrapper-imgMob {
  display: none;
  width: 100%;
  height: 310px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 320px) and (max-width: 426px) {
  .mainSectionWrapper .mainSection__content-imageWrapper-imgMob {
    display: flex;
  }
}
.mainSectionWrapper .mainSection__content-imageWrapper-controls {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 55px;
  padding: 20px;
  background: #161616;
}
.mainSectionWrapper .mainSection__content-imageWrapper-controls-count {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20.06px;
  color: white;
}
.mainSectionWrapper .mainSection__content-imageWrapper-controls-count span:nth-child(1) {
  font-family: Orbitron;
  font-size: 16px;
  padding: 0 6px 0 0;
}
.mainSectionWrapper .mainSection__content-imageWrapper-controls-count span:nth-child(2) {
  font-family: Orbitron;
  font-size: 14px;
  color: #5f5f5f;
}
.mainSectionWrapper .mainSection__content-imageWrapper-controls-btnWrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.mainSectionWrapper .mainSection__content-imageWrapper-controls-btnWrap-btn {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  background: none;
}
.mainSectionWrapper .mainSection__content-imageWrapper-controls-btnWrap-btn:nth-child(1) {
  border: 2px solid #5f5f5f;
}
.mainSectionWrapper .mainSection__info {
  border-bottom: 4px solid white;
  padding: 45px 0;
  display: flex;
}
@media (min-width: 319px) and (max-width: 770px) {
  .mainSectionWrapper .mainSection__info {
    flex-direction: column;
  }
}
.mainSectionWrapper .mainSection__info-first {
  max-width: 100%;
  position: relative;
}
@media (min-width: 1023px) and (max-width: 1600px) {
  .mainSectionWrapper .mainSection__info-first {
    max-width: calc(100% + 460 * (100vw - 1023px) / 577);
  }
}
.mainSectionWrapper .mainSection__info-first-title {
  z-index: 1;
  max-width: 715px;
  position: relative;
  font-family: Orbitron;
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 0.05em;
  line-height: 87.78px;
  color: white;
}
.mainSectionWrapper .mainSection__info-first-title span {
  color: transparent;
  -webkit-text-stroke: 2px white;
  text-stroke: 2px white;
}
@media (min-width: 1023px) and (max-width: 1600px) {
  .mainSectionWrapper .mainSection__info-first-title {
    max-width: calc(550px + 150 * (100vw - 1023px) / 577);
    font-size: calc(49px + 21 * (100vw - 1023px) / 577);
    line-height: calc(70px + 17 * (100vw - 1023px) / 577);
  }
}
@media (min-width: 770px) and (max-width: 1023px) {
  .mainSectionWrapper .mainSection__info-first-title {
    max-width: calc(550px + 200 * (100vw - 770px) / 253);
    font-size: calc(39px + 10 * (100vw - 770px) / 253);
    line-height: calc(50px + 20 * (100vw - 770px) / 253);
  }
}
@media (min-width: 320px) and (max-width: 770px) {
  .mainSectionWrapper .mainSection__info-first-title {
    max-width: calc(550px + 200 * (100vw - 320px) / 450);
    font-size: calc(55px + 25 * (100vw - 320px) / 450);
    line-height: calc(66px + 4 * (100vw - 320px) / 450);
  }
}
.mainSectionWrapper .mainSection__info-first-around {
  z-index: 0;
  position: absolute;
  width: 175px;
  height: 175px;
  background: linear-gradient(to bottom left, rgb(255, 35, 35), rgb(255, 118, 241));
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 1023px) and (max-width: 1600px) {
  .mainSectionWrapper .mainSection__info-first-around {
    width: calc(130px + 45 * (100vw - 1023px) / 577);
    height: calc(130px + 45 * (100vw - 1023px) / 577);
    top: calc(38% + 12 * (100vw - 1023px) / 577);
  }
}
@media (min-width: 770px) and (max-width: 1023px) {
  .mainSectionWrapper .mainSection__info-first-around {
    width: calc(130px + 3 * (100vw - 770px) / 253);
    height: calc(130px + 3 * (100vw - 770px) / 253);
    top: calc(26% + 7 * (100vw - 770px) / 253);
  }
}
@media (min-width: 320px) and (max-width: 770px) {
  .mainSectionWrapper .mainSection__info-first-around {
    width: calc(145px + 5 * (100vw - 320px) / 450);
    height: calc(145px + 5 * (100vw - 320px) / 450);
    top: calc(29% + 27 * (100vw - 320px) / 450);
  }
}
.mainSectionWrapper .mainSection__info-last-text {
  max-width: 560px;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  font-size: 16px;
  font-weight: 500;
  line-height: 21px;
  color: #aaaaaa;
  text-transform: uppercase;
}
@media (min-width: 1023px) and (max-width: 1600px) {
  .mainSectionWrapper .mainSection__info-last-text {
    font-size: calc(16px + 2 * (100vw - 1023px) / 577);
    line-height: calc(20px + 1 * (100vw - 1023px) / 577);
  }
}
@media (min-width: 769px) and (max-width: 1023px) {
  .mainSectionWrapper .mainSection__info-last-text {
    font-size: calc(15px + 1 * (100vw - 769px) / 254);
    line-height: calc(19px + 1 * (100vw - 769px) / 254);
  }
}
@media (min-width: 320px) and (max-width: 770px) {
  .mainSectionWrapper .mainSection__info-last-text {
    font-size: calc(18px + 6 * (100vw - 320px) / 450);
    line-height: calc(20px + 10 * (100vw - 320px) / 450);
    padding: 45px 0 72px 0;
  }
}
.mainSectionWrapper .mainSection__info-last-learnMore {
  padding: 70px 0 0 0;
  display: flex;
  align-items: center;
  gap: 15px;
}
.mainSectionWrapper .mainSection__info-last-learnMore-link {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.1em;
}
.mainSectionWrapper .mainSection__info-last-learnMore-imgContainer {
  width: 35px;
  height: 35px;
}
.mainSectionWrapper .mainSection__info-last-learnMore-imgContainer img {
  width: 100%;
}
.mainSectionWrapper .mainSection__news {
  border-top: 4px solid white;
  padding: 50px 0 175px 0;
}
.mainSectionWrapper .mainSection__news-title {
  font-family: Orbitron;
  font-size: 42px;
  font-weight: bold;
  color: white;
  padding-bottom: 57px;
  padding-left: 110px;
}
@media (min-width: 320px) and (max-width: 770px) {
  .mainSectionWrapper .mainSection__news-title {
    padding-bottom: 80px;
    padding-left: 30px;
  }
}
.mainSectionWrapper .mainSection__news-contentWrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .mainSectionWrapper .mainSection__news-contentWrapper {
    flex-direction: column;
  }
}
.mainSectionWrapper .mainSection__news-contentWrapper-content-imgContainer-img {
  width: 100%;
}
.mainSectionWrapper .mainSection__news-contentWrapper-content-infoList {
  margin: 0;
  padding: 0;
}
.mainSectionWrapper .mainSection__news-contentWrapper-content-infoList-item {
  display: flex;
  flex-direction: column;
}
.mainSectionWrapper .mainSection__news-contentWrapper-content-infoList-item-date {
  font-family: "Roboto", sans-serif;
  font-size: 16;
  color: #aaaaaa;
  padding: 25px 0;
}
.mainSectionWrapper .mainSection__news-contentWrapper-content-infoList-item-link {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.05em;
  max-width: 565px;
  padding: 0 0 35px 0;
  border-bottom: 1px solid #353535;
  cursor: pointer;
}
.mainSectionWrapper .mainSection__news-contentWrapper-content-sliderNav {
  display: flex;
  align-items: center;
  gap: 110px;
  padding: 50px 0 0 0;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .mainSectionWrapper .mainSection__news-contentWrapper-content-sliderNav {
    justify-content: space-between;
    margin-bottom: 67px;
  }
}
.mainSectionWrapper .mainSection__news-contentWrapper-content-sliderNav-slideCount span:nth-child(1) {
  font-family: Orbitron;
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.mainSectionWrapper .mainSection__news-contentWrapper-content-sliderNav-slideCount span:nth-child(2) {
  font-family: Orbitron;
  font-size: 14px;
  font-weight: 500;
  color: #5f5f5f;
}
.mainSectionWrapper .mainSection__news-contentWrapper-content-sliderNav-slideBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 20px;
}
.mainSectionWrapper .mainSection__news-contentWrapper-content-sliderNav-slideBtn button {
  padding: 0;
  width: 55px;
  height: 55px;
  cursor: pointer;
}
.mainSectionWrapper .mainSection__news-contentWrapper-content-sliderNav-slideBtn button:nth-child(1) {
  border: none;
  background: none;
  width: 56px;
}
.mainSectionWrapper .mainSection__news-contentWrapper-content-sliderNav-slideBtn button:nth-child(1) img {
  width: 56px;
  height: 55px;
}
.mainSectionWrapper .mainSection__news-contentWrapper-content-sliderNav-slideBtn button:nth-child(2) {
  border: none;
  background: none;
}
.mainSectionWrapper .mainSection__news-contentWrapper-content-sliderNav-slideBtn button:nth-child(2) img {
  width: 55px;
  height: 55px;
}
.mainSectionWrapper .mainSection__news-contentWrapper-container {
  display: flex;
  align-items: flex-end;
  padding: 0 0 0 110px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .mainSectionWrapper .mainSection__news-contentWrapper-container {
    padding: 0;
    justify-content: center;
  }
}
.mainSectionWrapper .mainSection__news-contentWrapper-container-allNewsBtn {
  border-radius: 50%;
  width: 175px;
  height: 175px;
  background: none;
  color: white;
  border-style: none;
  border: 2px solid white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
}
.mainSectionWrapper .mainSection__blog {
  border-top: 4px solid white;
  margin: 50px 0 100px 0;
}
.mainSectionWrapper .mainSection__blog-title {
  font-family: Orbitron;
  font-size: 42px;
  font-weight: bold;
  color: white;
  padding: 50px 0 57px 110px;
}
.mainSectionWrapper .mainSection__blog-contentWrapper-Block {
  display: flex;
  max-width: 1080px;
  margin-bottom: 35px;
}
@media (min-width: 320px) and (max-width: 1000px) {
  .mainSectionWrapper .mainSection__blog-contentWrapper-Block {
    flex-direction: column;
  }
}
.mainSectionWrapper .mainSection__blog-contentWrapper-Block-imgContainer {
  max-width: 420px;
}
@media (min-width: 320px) and (max-width: 1100px) {
  .mainSectionWrapper .mainSection__blog-contentWrapper-Block-imgContainer img {
    max-width: calc(285px + (420 - 285) * (100vw - 320px) / (1100 - 320));
  }
}
@media (min-width: 320px) and (max-width: 1000px) {
  .mainSectionWrapper .mainSection__blog-contentWrapper-Block-imgContainer {
    margin: 0 0 40px 0;
  }
}
@media (min-width: 320px) and (max-width: 1100px) {
  .mainSectionWrapper .mainSection__blog-contentWrapper-Block-imgContainer {
    max-width: calc(285px + (420 - 285) * (100vw - 320px) / (1100 - 320));
  }
}
.mainSectionWrapper .mainSection__blog-contentWrapper-Block-textContainer {
  font-family: Roboto, sans-serif;
  margin: 0 0 0 75px;
}
@media (min-width: 320px) and (max-width: 1000px) {
  .mainSectionWrapper .mainSection__blog-contentWrapper-Block-textContainer {
    margin: 0;
  }
}
.mainSectionWrapper .mainSection__blog-contentWrapper-Block-textContainer-list {
  list-style: none;
  padding: 0;
  color: white;
  max-width: 585px;
}
.mainSectionWrapper .mainSection__blog-contentWrapper-Block-textContainer-item:nth-child(1) {
  margin: 0 0 25px 0;
}
.mainSectionWrapper .mainSection__blog-contentWrapper-Block-textContainer-item:nth-child(1) span {
  color: black;
  padding: 12px 35px;
  background: white;
}
.mainSectionWrapper .mainSection__blog-contentWrapper-Block-textContainer-item:nth-child(3) {
  max-width: 475px;
  padding: 15px 0 0 0;
}
@media (min-width: 320px) and (max-width: 1000px) {
  .mainSectionWrapper .mainSection__blog-contentWrapper-Block-textContainer-item:nth-child(3) {
    margin: 0 0 50px 0;
  }
}
.mainSectionWrapper .mainSection__blog-contentWrapper-Block-textContainer-item {
  font-size: 16px;
  color: #aaaaaa;
}
.mainSectionWrapper .mainSection__blog-contentWrapper-Block-textContainer-item a {
  text-transform: uppercase;
  color: white;
  font-size: 20px;
}
@media (min-width: 320px) and (max-width: 1000px) {
  .mainSectionWrapper .mainSection__blog-contentWrapper-Block-textContainer-item a {
    font-size: calc(19px + (20 - 19) * (100vw - 320px) / (1000 - 320));
  }
}
.mainSectionWrapper .mainSection__blog-btnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 1000px) {
  .mainSectionWrapper .mainSection__blog-btnContainer {
    flex-direction: column;
  }
}
.mainSectionWrapper .mainSection__blog-btnContainer-slideCounter {
  display: flex;
  align-items: center;
  gap: 170px;
}
@media (min-width: 320px) and (max-width: 1000px) {
  .mainSectionWrapper .mainSection__blog-btnContainer-slideCounter {
    gap: 0;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 67px;
  }
}
.mainSectionWrapper .mainSection__blog-btnContainer-slideCounter-pageNumber span:nth-child(1) {
  font-size: 16px;
  font-family: Orbitron;
  font-weight: 500;
  color: white;
}
.mainSectionWrapper .mainSection__blog-btnContainer-slideCounter-pageNumber span:nth-child(2) {
  color: #5f5f5f;
  font-family: Orbitron;
  font-size: 14px;
  font-weight: 400;
}
.mainSectionWrapper .mainSection__blog-btnContainer-slideCounter-arrowBtnContainer {
  display: flex;
  align-items: center;
  gap: 35px;
}
.mainSectionWrapper .mainSection__blog-btnContainer-slideCounter-arrowBtnContainer button {
  background: none;
  border-style: none;
  cursor: pointer;
}
.mainSectionWrapper .mainSection__blog-btnContainer-slideCounter-arrowBtnContainer button:nth-child(1) {
  width: 56px;
  height: 55px;
  padding: 0;
}
.mainSectionWrapper .mainSection__blog-btnContainer-slideCounter-arrowBtnContainer button:nth-child(1) img {
  width: 56px;
  height: 55px;
}
.mainSectionWrapper .mainSection__blog-btnContainer-slideCounter-arrowBtnContainer button:nth-child(2) {
  width: 55px;
  height: 55px;
  padding: 0;
}
.mainSectionWrapper .mainSection__blog-btnContainer-slideCounter-arrowBtnContainer button:nth-child(2) img {
  width: 55px;
  height: 55px;
}
.mainSectionWrapper .mainSection__blog-btnContainer-allBlogBtn {
  border-radius: 50%;
  width: 175px;
  height: 175px;
  background: none;
  color: white;
  border-style: none;
  border: 2px solid white;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
}
.mainSectionWrapper .mainSection__footer {
  width: 100%;
  background: #303030;
}
.mainSectionWrapper .mainSection__footer-container {
  padding: 36px 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 1000px) {
  .mainSectionWrapper .mainSection__footer-container {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
  }
}
@media (min-width: 1023px) and (max-width: 1600px) {
  .mainSectionWrapper .mainSection__footer-container {
    max-width: calc(1000px + 300 * (100vw - 1023px) / 577);
  }
}
@media (min-width: 770px) and (max-width: 1023px) {
  .mainSectionWrapper .mainSection__footer-container {
    max-width: calc(750px + 273 * (100vw - 770px) / 830);
  }
}
.mainSectionWrapper .mainSection__footer-menuList {
  padding: 0;
  margin: 0;
  max-width: 550px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
@media (min-width: 320px) and (max-width: 1000px) {
  .mainSectionWrapper .mainSection__footer-menuList {
    margin: 40px 0;
  }
}
.mainSectionWrapper .mainSection__footer-menuList a {
  color: #ffffff;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
.mainSectionWrapper .mainSection__footer-menuList-item:not(:last-child) {
  margin-right: 20px;
  gap: 20px;
}
.mainSectionWrapper .mainSection__footer-socialList {
  padding: 0;
  margin: 0;
  gap: 42px;
  display: flex;
  align-items: center;
  max-width: 130px;
  list-style: none;
}
@media screen and (max-width: 770px) {
  .mainSection__header {
    padding: 15px 0;
  }
  .mainSection__header-firstBlock-buttonsWrap {
    display: none;
  }
}rogramSection__titleContainer-title {
    font-size: calc(35px + (40 - 35) * (100vw - 770px) / (1000 - 770));
  }
}
@media (min-width: 320px) and (max-width: 770px) {
  .programSectionWrapper .programSection__titleContainer-title {
    font-size: calc(24px + (35 - 24) * (100vw - 320px) / (770 - 320));
    line-height: unset;
  }
}
.programSectionWrapper .programSection__titleContainer-subtitle {
  font-size: 24px;
  line-height: 40px;
  font-family: "Kyiv Type Sans", sans-serif;
  font-weight: 400;
  color: #5c686d;
}
@media (min-width: 770px) and (max-width: 1000px) {
  .programSectionWrapper .programSection__titleContainer-subtitle {
    font-size: calc(22px + (24 - 22) * (100vw - 770px) / (1000 - 770));
  }
}
@media (min-width: 320px) and (max-width: 770px) {
  .programSectionWrapper .programSection__titleContainer-subtitle {
    font-size: calc(14px + (24 - 14) * (100vw - 320px) / (770 - 320));
    line-height: unset;
  }
}
.programSectionWrapper .programSection__sliderWrapper {
  display: flex;
  justify-content: center;
}
.programSectionWrapper .programSection__sliderWrapper-container {
  display: flex;
  gap: 20px;
  padding-bottom: 120px;
}
@media (min-width: 770px) and (max-width: 1190px) {
  .programSectionWrapper .programSection__sliderWrapper-container {
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (min-width: 320px) and (max-width: 770px) {
  .programSectionWrapper .programSection__sliderWrapper-container {
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory; /* Скролл по карточке */
    -webkit-overflow-scrolling: touch; /* Для плавного скролла на мобильных устройствах */
  }
}
.programSectionWrapper .programSection__sliderWrapper-container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #e7ecef;
  border-radius: 20px;
  padding: 16px;
}
@media (min-width: 770px) and (max-width: 1190px) {
  .programSectionWrapper .programSection__sliderWrapper-container-card {
    width: 380px;
  }
}
@media (min-width: 770px) and (max-width: 1000px) {
  .programSectionWrapper .programSection__sliderWrapper-container-card {
    width: calc(250px + (380 - 250) * (100vw - 770px) / (1000 - 770));
  }
}
@media (min-width: 320px) and (max-width: 770px) {
  .programSectionWrapper .programSection__sliderWrapper-container-card {
    flex: 0 0 auto;
    width: calc(240px + (280 - 240) * (100vw - 320px) / (770 - 320));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    scroll-snap-align: center; /* Центрирование карточки */
  }
}
.programSectionWrapper .programSection__sliderWrapper-container-card-marker {
  width: 11px;
  height: 11px;
  background: #1f6c94;
  transform: rotate(135deg);
  margin: 10px 0 20px 0;
}
.programSectionWrapper .programSection__sliderWrapper-container-card-title {
  font-size: 24px;
  line-height: 36px;
  font-family: "Kyiv Type Sans", sans-serif;
  font-weight: bold;
  color: #1f6c94;
}
@media (min-width: 320px) and (max-width: 770px) {
  .programSectionWrapper .programSection__sliderWrapper-container-card-title {
    font-size: calc(20px + (24 - 20) * (100vw - 320px) / (770 - 320));
    line-height: unset;
  }
}
.programSectionWrapper .programSection__sliderWrapper-container-card-discription {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  font-family: "Kyiv Type Sans", sans-serif;
  font-weight: 400;
  color: #555d65;
  max-width: 245px;
}
@media (min-width: 770px) and (max-width: 850px) {
  .programSectionWrapper .programSection__sliderWrapper-container-card-discription {
    max-width: 265px;
  }
}
.programSectionWrapper .programSection__sliderWrapper-container-card-img {
  width: 200px;
}
@media (min-width: 770px) and (max-width: 1190px) {
  .programSectionWrapper .programSection__sliderWrapper-container-card-img {
    width: calc(200px + (340 - 200) * (100vw - 770px) / (1190 - 770));
  }
}
.programSectionWrapper .programSection__sliderWrapper-container-card-button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-family: "Kyiv Type Sans", sans-serif;
  font-weight: 400;
  color: #1f6c94;
  border-radius: 20px;
  border: 1px solid #1f6c94;
  padding: 16.5px 23px;
  margin-top: 23px;
  cursor: pointer;
}

.trainersSectionWrapper {
  background-color: #e7ecef;
  position: relative;
}
.trainersSectionWrapper .trainersSection {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  padding: 60px 0 120px 0;
  font-family: "Kyiv Type Sans", sans-serif;
}
@media (min-width: 1023px) and (max-width: 1440px) {
  .trainersSectionWrapper .trainersSection {
    max-width: calc(884px + (1300 - 884) * (100vw - 1023px) / (1440 - 1023));
  }
}
@media (min-width: 320px) and (max-width: 1023px) {
  .trainersSectionWrapper .trainersSection {
    max-width: calc(280px + (884 - 280) * (100vw - 320px) / (1023 - 320));
  }
}
.trainersSectionWrapper .trainersSection-marker {
  bottom: -12px;
  position: absolute;
  padding: 6px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}
@media screen and (max-width: 520px) {
  .trainersSectionWrapper .trainersSection-marker {
    display: none;
  }
}
.trainersSectionWrapper .trainersSection-marker-left {
  width: 12px;
  border: 5px solid #1f6c94;
  background: #1f6c94;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.trainersSectionWrapper .trainersSection-marker-center {
  width: 12px;
  height: 12px;
  background: #1f6c94;
  transform: rotate(135deg);
}
.trainersSectionWrapper .trainersSection-marker-right {
  width: 12px;
  border: 5px solid #1f6c94;
  background: #1f6c94;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
@media (min-width: 770px) and (max-width: 2561px) {
  .trainersSectionWrapper .trainersSection__imgWrapper {
    display: flex;
  }
}
@media (min-width: 320px) and (max-width: 770px) {
  .trainersSectionWrapper .trainersSection__imgWrapper {
    display: none;
  }
}
@media (min-width: 1023px) and (max-width: 2561px) {
  .trainersSectionWrapper .trainersSection__imgWrapper {
    max-width: calc(430px + (522 - 430) * (100vw - 1023px) / (2561 - 1023));
  }
}
@media (min-width: 770px) and (max-width: 1023px) {
  .trainersSectionWrapper .trainersSection__imgWrapper {
    max-width: calc(275px + (430 - 275) * (100vw - 770px) / (1023 - 770));
  }
}
.trainersSectionWrapper .trainersSection__imgWrapper-img {
  width: 100%;
}
@media (min-width: 320px) and (max-width: 770px) {
  .trainersSectionWrapper .trainersSection__textContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.trainersSectionWrapper .trainersSection__textContainer-firstTitle {
  font-size: 40px;
  font-family: "Kyiv Type Sans", sans-serif;
  font-weight: 550;
  color: #1f6c94;
}
@media (min-width: 320px) and (max-width: 770px) {
  .trainersSectionWrapper .trainersSection__textContainer-firstTitle {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 1023px) {
  .trainersSectionWrapper .trainersSection__textContainer-firstTitle {
    font-size: calc(24px + (40 - 24) * (100vw - 320px) / (1023 - 320));
  }
}
.trainersSectionWrapper .trainersSection__textContainer-firstTitle-arrowContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  bottom: -30px;
  right: 0;
}
@media (min-width: 771px) and (max-width: 2561px) {
  .trainersSectionWrapper .trainersSection__textContainer-firstTitle-arrowContainer {
    display: none;
  }
}
.trainersSectionWrapper .trainersSection__textContainer-firstTitle-arrowContainer-arrowLeft {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 18px 13px 16px;
  border: 1px solid #1f6c94;
  border-radius: 50%;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .trainersSectionWrapper .trainersSection__textContainer-firstTitle-arrowContainer-arrowLeft {
    padding: calc(6.5px + (13 - 6.5) * (100vw - 320px) / (1024 - 320)) calc(9px + (18 - 9) * (100vw - 320px) / (1024 - 320)) calc(6.5px + (13 - 6.5) * (100vw - 320px) / (1024 - 320)) calc(8px + (16 - 8) * (100vw - 320px) / (1024 - 320));
  }
}
.trainersSectionWrapper .trainersSection__textContainer-firstTitle-arrowContainer-arrowLeft img {
  width: 16px;
  height: 24px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .trainersSectionWrapper .trainersSection__textContainer-firstTitle-arrowContainer-arrowLeft img {
    width: calc(8px + (16 - 8) * (100vw - 320px) / (770 - 320));
    height: calc(12px + (24 - 12) * (100vw - 320px) / (770 - 320));
  }
}
.trainersSectionWrapper .trainersSection__textContainer-firstTitle-arrowContainer-arrowRight {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 16px 13px 18px;
  border: 1px solid #1f6c94;
  border-radius: 50%;
  background: #1f6c94;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .trainersSectionWrapper .trainersSection__textContainer-firstTitle-arrowContainer-arrowRight {
    padding: calc(6.5px + (13 - 6.5) * (100vw - 320px) / (1024 - 320)) calc(8px + (16 - 8) * (100vw - 320px) / (1024 - 320)) calc(6.5px + (13 - 6.5) * (100vw - 320px) / (1024 - 320)) calc(9px + (18 - 9) * (100vw - 320px) / (1024 - 320));
  }
}
.trainersSectionWrapper .trainersSection__textContainer-firstTitle-arrowContainer-arrowRight img {
  width: 16px;
  height: 24px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .trainersSectionWrapper .trainersSection__textContainer-firstTitle-arrowContainer-arrowRight img {
    width: calc(8px + (16 - 8) * (100vw - 320px) / (770 - 320));
    height: calc(12px + (24 - 12) * (100vw - 320px) / (770 - 320));
  }
}
.trainersSectionWrapper .trainersSection__textContainer-mobImgContainer {
  max-width: 400px;
  position: relative;
  align-self: center;
  width: 100%;
  height: 400px;
}
@media (min-width: 770px) and (max-width: 2561px) {
  .trainersSectionWrapper .trainersSection__textContainer-mobImgContainer {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 770px) {
  .trainersSectionWrapper .trainersSection__textContainer-mobImgContainer {
    height: calc(150px + (400 - 150) * (100vw - 320px) / (770 - 320));
  }
}
.trainersSectionWrapper .trainersSection__textContainer-mobImgContainer-img {
  position: absolute;
  width: 360px;
  right: 40%;
  top: 0;
  transform: translate(65%);
}
@media (min-width: 515px) and (max-width: 770px) {
  .trainersSectionWrapper .trainersSection__textContainer-mobImgContainer-img {
    width: calc(299px + (425 - 299) * (100vw - 515px) / (770 - 515));
    right: calc(200px + (169 - 200) * (100vw - 515px) / (770 - 515));
    top: calc(-6px + (0 - -6) * (100vw - 515px) / (770 - 515));
  }
}
@media (min-width: 320px) and (max-width: 515px) {
  .trainersSectionWrapper .trainersSection__textContainer-mobImgContainer-img {
    width: calc(197px + (450 - 197) * (100vw - 320px) / (770 - 320));
    right: calc(129px + (259 - 129) * (100vw - 320px) / (770 - 320));
    top: calc(-6px + (0 - -6) * (100vw - 515px) / (770 - 515));
  }
}
.trainersSectionWrapper .trainersSection__textContainer-secondBlock {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 320px) and (max-width: 770px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock {
    flex-direction: column-reverse;
  }
}
@media (min-width: 320px) and (max-width: 770px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-marker {
    padding-bottom: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-marker-left {
    width: 20px;
    border: 5px solid #1f6c94;
    background: #1f6c94;
    border-radius: 20px;
  }
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-marker-center {
    width: 12px;
    height: 12px;
    background: #1f6c94;
    transform: rotate(135deg);
  }
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-marker-right {
    width: 20px;
    border: 5px solid #1f6c94;
    background: #1f6c94;
    border-radius: 20px;
  }
}
.trainersSectionWrapper .trainersSection__textContainer-secondBlock-arrowContainer {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 16px;
  bottom: -30px;
  right: 0;
}
@media (min-width: 770px) and (max-width: 1271px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-arrowContainer {
    bottom: -3px;
  }
}
@media (min-width: 320px) and (max-width: 770px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-arrowContainer {
    display: none;
  }
}
.trainersSectionWrapper .trainersSection__textContainer-secondBlock-arrowContainer-arrowLeft {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 18px 13px 16px;
  border: 1px solid #1f6c94;
  border-radius: 50%;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-arrowContainer-arrowLeft {
    padding: calc(6.5px + (13 - 6.5) * (100vw - 320px) / (1024 - 320)) calc(9px + (18 - 9) * (100vw - 320px) / (1024 - 320)) calc(6.5px + (13 - 6.5) * (100vw - 320px) / (1024 - 320)) calc(8px + (16 - 8) * (100vw - 320px) / (1024 - 320));
  }
}
.trainersSectionWrapper .trainersSection__textContainer-secondBlock-arrowContainer-arrowLeft img {
  width: 16px;
  height: 24px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-arrowContainer-arrowLeft img {
    width: calc(8px + (16 - 8) * (100vw - 320px) / (770 - 320));
    height: calc(12px + (24 - 12) * (100vw - 320px) / (770 - 320));
  }
}
.trainersSectionWrapper .trainersSection__textContainer-secondBlock-arrowContainer-arrowRight {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 16px 13px 18px;
  border: 1px solid #1f6c94;
  border-radius: 50%;
  background: #1f6c94;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-arrowContainer-arrowRight {
    padding: calc(6.5px + (13 - 6.5) * (100vw - 320px) / (1024 - 320)) calc(8px + (16 - 8) * (100vw - 320px) / (1024 - 320)) calc(6.5px + (13 - 6.5) * (100vw - 320px) / (1024 - 320)) calc(9px + (18 - 9) * (100vw - 320px) / (1024 - 320));
  }
}
.trainersSectionWrapper .trainersSection__textContainer-secondBlock-arrowContainer-arrowRight img {
  width: 16px;
  height: 24px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-arrowContainer-arrowRight img {
    width: calc(8px + (16 - 8) * (100vw - 320px) / (770 - 320));
    height: calc(12px + (24 - 12) * (100vw - 320px) / (770 - 320));
  }
}
.trainersSectionWrapper .trainersSection__textContainer-secondBlock-discription {
  font-size: 24px;
  font-family: "Kyiv Type Sans", sans-serif;
  font-weight: 400;
  line-height: 150%;
  color: #555d65;
}
@media screen and (min-width: 1023px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-discription {
    max-width: 630px;
  }
}
@media (min-width: 1023px) and (max-width: 1440px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-discription {
    font-size: calc(16px + (24 - 16) * (100vw - 1023px) / (1440 - 1023));
    line-height: calc(26px + (40 - 26) * (100vw - 1023px) / (1440 - 1023));
    max-width: 630px;
  }
}
@media (min-width: 1160px) and (max-width: 1280px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-discription {
    max-width: calc(500px + (570 - 500) * (100vw - 1023px) / (1280 - 1023));
  }
}
@media (min-width: 1022px) and (max-width: 1160px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-discription {
    max-width: calc(370px + (500 - 370) * (100vw - 1023px) / (1280 - 1023));
  }
}
@media (min-width: 770px) and (max-width: 1023px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-discription {
    font-size: 16px;
    line-height: 26px;
    max-width: 370px;
  }
}
@media (min-width: 320px) and (max-width: 770px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-discription {
    font-size: 16px;
    line-height: 26px;
    max-width: 370px;
  }
}
.trainersSectionWrapper .trainersSection__textContainer-secondBlock-secondTitle {
  padding-top: 36px;
  font-size: 36px;
  font-family: "Kyiv Type Sans", sans-serif;
  line-height: 48px;
  font-weight: 500;
  color: #1f6c94;
}
@media (min-width: 771px) and (max-width: 2560px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-secondTitle {
    position: relative;
  }
}
.trainersSectionWrapper .trainersSection__textContainer-secondBlock-secondTitle-container {
  display: flex;
  flex-direction: column;
}
.trainersSectionWrapper .trainersSection__textContainer-secondBlock-subscription {
  font-size: 24px;
  font-family: "Kyiv Type Sans", sans-serif;
  font-weight: 400;
  line-height: 48px;
  color: #111517;
}
@media (min-width: 320px) and (max-width: 770px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-subscription {
    font-size: 16px;
  }
}

.subscriptionSectionWrapper {
  position: relative;
  overflow-x: hidden;
  padding: 106px 0 186px 0;
}
.subscriptionSectionWrapper .subscriptionSection {
  font-family: "Kyiv Type Sans", sans-serif;
  margin: 0 auto;
  max-width: 1300px;
}
@media (min-width: 1023px) and (max-width: 1440px) {
  .subscriptionSectionWrapper .subscriptionSection {
    max-width: calc(884px + (1300 - 884) * (100vw - 1023px) / (1440 - 1023));
  }
}
@media (min-width: 320px) and (max-width: 1023px) {
  .subscriptionSectionWrapper .subscriptionSection {
    max-width: calc(280px + (884 - 280) * (100vw - 320px) / (1023 - 320));
  }
}
.subscriptionSectionWrapper .subscriptionSection__headerTitleContainer {
  margin-bottom: 60px;
}
.subscriptionSectionWrapper .subscriptionSection__headerTitleContainer-title {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: 500;
  color: #1f6c94;
}
@media (min-width: 320px) and (max-width: 980px) {
  .subscriptionSectionWrapper .subscriptionSection__headerTitleContainer-title {
    font-size: calc(24px + (40 - 24) * (100vw - 320px) / (980 - 320));
  }
}
.subscriptionSectionWrapper .subscriptionSection__headerTitleContainer-subtitle {
  margin: 0;
  padding: 24px 0 0 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  color: #555d65;
}
@media (min-width: 320px) and (max-width: 980px) {
  .subscriptionSectionWrapper .subscriptionSection__headerTitleContainer-subtitle {
    font-size: calc(16px + (24 - 16) * (100vw - 320px) / (980 - 320));
    padding: calc(16px + (24 - 16) * (100vw - 320px) / (980 - 320)) 0 0 0;
  }
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
@media (min-width: 320px) and (max-width: 980px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper {
    flex-direction: column;
    gap: 10px;
    width: 95vw;
    left: 50%;
    transform: translate(-50%);
  }
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap:nth-child(1) {
  z-index: 1;
  align-self: flex-start;
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap:nth-child(1):hover {
  z-index: 20;
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap:nth-child(2) {
  align-self: center;
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap:nth-child(3) {
  z-index: 1;
  align-self: flex-end;
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap:nth-child(3):hover {
  z-index: 10;
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap {
  width: 360px;
  height: 318px;
  z-index: 10;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap {
    width: calc(275px + (360 - 275) * (100vw - 1024px) / (1440 - 1024));
    height: calc(245px + (318 - 245) * (100vw - 1024px) / (1440 - 1024));
  }
}
@media (min-width: 981px) and (max-width: 1024px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap {
    width: calc(275px + (275 - 275) * (100vw - 980px) / (1024 - 980));
    height: calc(245px + (245 - 245) * (100vw - 980px) / (1024 - 980));
  }
}
@media (min-width: 320px) and (max-width: 981px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap {
    width: calc(210px + (275 - 210) * (100vw - 320px) / (981 - 320));
    height: calc(188px + (245 - 188) * (100vw - 320px) / (981 - 320));
  }
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #1f6c94;
  background-color: #e7ecef;
  padding: 26px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: all ease-in-out 0.5s;
}
@media (min-width: 320px) and (max-width: 980px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card {
    width: calc(210px + (275 - 210) * (100vw - 320px) / (980 - 320));
    height: calc(188px + (245 - 188) * (100vw - 320px) / (980 - 320));
    gap: 3px;
  }
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card .subscriptionSection__cardWrapper-wrap-card-hover {
  display: none;
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card:hover {
  cursor: pointer;
  color: #e7ecef !important;
  background-color: #1f6c94;
  transition: all ease-in-out 0.5s;
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card:hover .subscriptionSection__cardWrapper-wrap-card-btn {
  background-color: #e7ecef;
  color: #1f6c94;
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card:hover .subscriptionSection__cardWrapper-wrap-card-btn:active {
  background-color: #1f6c94;
  color: #e7ecef;
  outline: 1px solid #e7ecef;
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card:hover .subscriptionSection__cardWrapper-wrap-marker {
  display: none;
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card:hover .subscriptionSection__cardWrapper-wrap-card-marker {
  display: none;
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card:hover .subscriptionSection__cardWrapper-wrap-card-hover {
  position: absolute;
  display: flex;
  z-index: -10;
  background: #e7ecef;
  box-shadow: 0px 0px 7px black;
  left: 50%;
  top: 50%;
  width: 320px;
  height: 320px;
  transform: translate(-50%, -50%) rotate(45deg);
  opacity: 0;
}
@media (min-width: 320px) and (max-width: 1440px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card:hover .subscriptionSection__cardWrapper-wrap-card-hover {
    width: calc(170px + (320 - 170) * (100vw - 320px) / (1440 - 320));
    height: calc(170px + (320 - 170) * (100vw - 320px) / (1440 - 320));
  }
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card:hover:hover .subscriptionSection__cardWrapper-wrap-card-hover {
  animation: hoverSlow 0.5s ease-in-out 0.3s forwards;
}
@keyframes hoverSlow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 320px) and (max-width: 980px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-left {
    align-self: flex-start;
  }
}
@media (min-width: 980px) and (max-width: 1024px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-center {
    margin-top: 83px;
  }
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-price {
  font-size: 58px;
  font-weight: 500;
  line-height: 63.8px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-price {
    font-size: calc(48px + (58 - 48) * (100vw - 1024px) / (1440 - 1024));
  }
}
@media (min-width: 980px) and (max-width: 1024px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-price {
    font-size: calc(48px + (48 - 48) * (100vw - 980px) / (1024 - 980));
  }
}
@media (min-width: 320px) and (max-width: 980px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-price {
    font-size: calc(36px + (48 - 36) * (100vw - 320px) / (980 - 320));
    line-height: auto;
  }
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-discription {
  font-size: 17px;
  font-weight: 400;
  line-height: 19.5px;
  max-width: 300px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-discription {
    font-size: calc(15px + (17 - 15) * (100vw - 1024px) / (1440 - 1024));
  }
}
@media (min-width: 980px) and (max-width: 1024px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-discription {
    font-size: calc(15px + (17 - 15) * (100vw - 980px) / (1024 - 980));
  }
}
@media (min-width: 320px) and (max-width: 980px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-discription {
    font-size: calc(12px + (15 - 12) * (100vw - 320px) / (980 - 320));
    line-height: unset;
  }
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-btn {
  align-self: flex-end;
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 1.12px;
  color: #e7ecef;
  background-color: #1f6c94;
  padding: 14px 28px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-btn {
    padding: calc(9px + (14 - 9) * (100vw - 1024px) / (1440 - 1024)) 28px;
  }
}
@media (min-width: 320px) and (max-width: 980px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-btn {
    font-size: calc(11px + (14 - 11) * (100vw - 320px) / (980 - 320));
    padding: calc(6px + (9 - 6) * (100vw - 320px) / (980 - 320)) 22px;
  }
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-btn:active {
  margin: 0;
  color: #1f6c94;
  background-color: #e7ecef;
  outline: 1px solid #1f6c94;
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-marker {
  position: absolute;
  top: calc(100% + 16px);
  right: 50%;
  background-color: #1f6c94;
  width: 11px;
  height: 11px;
  transform: translate(-50%);
  transform: rotate(135deg);
}
@media (min-width: 320px) and (max-width: 980px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-marker {
    display: none;
  }
}

.footerSectionWrapper {
  position: relative;
  background-color: #e7ecef;
  font-family: "Kyiv Type Sans", sans-serif;
  padding-top: 20px;
  padding-bottom: 53px;
}
@media (min-width: 750px) and (max-width: 1025px) {
  .footerSectionWrapper {
    padding-bottom: 100px;
  }
}
@media (min-width: 320px) and (max-width: 750px) {
  .footerSectionWrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.footerSectionWrapper-marker {
  gap: 5px;
  z-index: 100;
  display: flex;
  position: absolute;
  justify-content: center;
  left: 50%;
  top: -12px;
  width: 100%;
  padding: 6px 0;
  transform: translate(-50%);
}
@media screen and (max-width: 520px) {
  .footerSectionWrapper-marker {
    display: none;
  }
}
.footerSectionWrapper-marker-left {
  background: #1f6c94;
  border: 5px solid #1f6c94;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 12px;
}
.footerSectionWrapper-marker-center {
  background: #1f6c94;
  width: 12px;
  height: 12px;
  transform: rotate(135deg);
}
.footerSectionWrapper-marker-right {
  background: #1f6c94;
  border: 5px solid #1f6c94;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 12px;
}
.footerSectionWrapper .footerSection {
  z-index: -10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #111517;
  margin: 0 auto;
  max-width: 1300px;
}
@media (min-width: 1023px) and (max-width: 1440px) {
  .footerSectionWrapper .footerSection {
    max-width: calc(884px + (1300 - 884) * (100vw - 1023px) / (1440 - 1023));
  }
}
@media (min-width: 320px) and (max-width: 1023px) {
  .footerSectionWrapper .footerSection {
    max-width: calc(280px + (884 - 280) * (100vw - 320px) / (1023 - 320));
  }
}
@media screen and (max-width: 1000px) {
  .footerSectionWrapper .footerSection {
    flex-direction: column;
  }
}
.footerSectionWrapper .footerSection__leftBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 750px) and (max-width: 1000px) {
  .footerSectionWrapper .footerSection__leftBlock {
    align-self: flex-start;
  }
}
@media (min-width: 320px) and (max-width: 750px) {
  .footerSectionWrapper .footerSection__leftBlock {
    flex-direction: column-reverse;
  }
}
.footerSectionWrapper .footerSection__leftBlock-schedule {
  max-width: 365px;
}
@media (min-width: 320px) and (max-width: 750px) {
  .footerSectionWrapper .footerSection__leftBlock-schedule {
    max-width: calc(270px + (304 - 270) * (100vw - 320px) / (750 - 320));
  }
}
.footerSectionWrapper .footerSection__leftBlock-schedule-title {
  font-size: 40px;
  font-weight: 500;
  color: #1f6c94;
  margin: 0;
  padding-bottom: 36px;
}
@media (min-width: 1000px) and (max-width: 1150px) {
  .footerSectionWrapper .footerSection__leftBlock-schedule-title {
    font-size: calc(34px + (40 - 34) * (100vw - 1000px) / (1150 - 1000));
  }
}
@media (min-width: 750px) and (max-width: 1000px) {
  .footerSectionWrapper .footerSection__leftBlock-schedule-title {
    font-size: 34px;
  }
}
@media (min-width: 320px) and (max-width: 750px) {
  .footerSectionWrapper .footerSection__leftBlock-schedule-title {
    font-size: calc(24px + (40 - 24) * (100vw - 320px) / (750 - 320));
    padding-bottom: 14px;
  }
}
.footerSectionWrapper .footerSection__leftBlock-schedule-workTime {
  display: flex;
  font-size: 20px;
  letter-spacing: 1.28px;
  padding: 0 0 20px 0;
}
@media (min-width: 750px) and (max-width: 1150px) {
  .footerSectionWrapper .footerSection__leftBlock-schedule-workTime {
    flex-direction: column;
  }
}
@media (min-width: 750px) and (max-width: 1180px) {
  .footerSectionWrapper .footerSection__leftBlock-schedule-workTime {
    font-size: 17px;
  }
}
@media (min-width: 320px) and (max-width: 750px) {
  .footerSectionWrapper .footerSection__leftBlock-schedule-workTime {
    font-size: calc(14px + (16 - 14) * (100vw - 320px) / (750 - 320));
    padding: 0 0 24px 0;
  }
}
.footerSectionWrapper .footerSection__leftBlock-schedule-workTime span:nth-child(1) {
  font-weight: 400;
  padding: 0 15px 0 0;
}
.footerSectionWrapper .footerSection__leftBlock-schedule-workTime span:nth-child(2) {
  font-weight: bold;
}
.footerSectionWrapper .footerSection__leftBlock-schedule-socialContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 40px 0 0 0;
}
@media screen and (max-width: 1023px) {
  .footerSectionWrapper .footerSection__leftBlock-schedule-socialContainer {
    display: none;
  }
}
.footerSectionWrapper .footerSection__leftBlock-imgWrapper {
  padding-right: 32px;
  padding-left: 32px;
}
@media (min-width: 1000px) and (max-width: 1205px) {
  .footerSectionWrapper .footerSection__leftBlock-imgWrapper {
    padding-left: 0;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  .footerSectionWrapper .footerSection__leftBlock-imgWrapper {
    position: absolute;
    top: 40%;
    left: 46%;
    transform: translate(-52%, -50%);
  }
}
@media (min-width: 750px) and (max-width: 800px) {
  .footerSectionWrapper .footerSection__leftBlock-imgWrapper {
    position: absolute;
    top: 40%;
    left: 44%;
    transform: translate(-52%, -50%);
  }
}
@media (min-width: 1000px) and (max-width: 1205px) {
  .footerSectionWrapper .footerSection__leftBlock-imgWrapper-IMG {
    width: calc(300px + (380 - 300) * (100vw - 1000px) / (1205 - 1000));
  }
}
@media (min-width: 750px) and (max-width: 1000px) {
  .footerSectionWrapper .footerSection__leftBlock-imgWrapper-IMG {
    max-width: calc(200px + (300 - 200) * (100vw - 750px) / (1000 - 750));
  }
}
@media (min-width: 320px) and (max-width: 750px) {
  .footerSectionWrapper .footerSection__leftBlock-imgWrapper-IMG {
    max-width: calc(117px + (200 - 117) * (100vw - 320px) / (750 - 320));
  }
}
.footerSectionWrapper .footerSection__rightBlock {
  max-width: 255px;
}
@media (min-width: 750px) and (max-width: 1000px) {
  .footerSectionWrapper .footerSection__rightBlock {
    align-self: flex-end;
  }
}
@media (min-width: 320px) and (max-width: 750px) {
  .footerSectionWrapper .footerSection__rightBlock {
    max-width: calc(270px + (304 - 270) * (100vw - 320px) / (750 - 320));
  }
}
.footerSectionWrapper .footerSection__rightBlock-title {
  font-size: 40px;
  font-weight: 500;
  color: #1f6c94;
  margin: 0;
  padding-bottom: 36px;
}
@media (min-width: 1000px) and (max-width: 1150px) {
  .footerSectionWrapper .footerSection__rightBlock-title {
    font-size: calc(34px + (40 - 34) * (100vw - 1000px) / (1150 - 1000));
  }
}
@media (min-width: 750px) and (max-width: 1000px) {
  .footerSectionWrapper .footerSection__rightBlock-title {
    font-size: 34px;
  }
}
@media (min-width: 320px) and (max-width: 750px) {
  .footerSectionWrapper .footerSection__rightBlock-title {
    font-size: calc(24px + (40 - 24) * (100vw - 320px) / (750 - 320));
    padding-bottom: 16px;
  }
}
.footerSectionWrapper .footerSection__rightBlock-adress {
  display: flex;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.28px;
}
@media (min-width: 750px) and (max-width: 1180px) {
  .footerSectionWrapper .footerSection__rightBlock-adress {
    font-size: 17px;
  }
}
@media (min-width: 320px) and (max-width: 750px) {
  .footerSectionWrapper .footerSection__rightBlock-adress {
    font-size: calc(14px + (16 - 14) * (100vw - 320px) / (750 - 320));
  }
}
.footerSectionWrapper .footerSection__rightBlock-adress span {
  padding: 0 0 64px 0;
}
@media (min-width: 320px) and (max-width: 750px) {
  .footerSectionWrapper .footerSection__rightBlock-adress span {
    padding: 0 0 24px 0;
  }
}
.footerSectionWrapper .footerSection__rightBlock-socialContainer {
  gap: 16px;
  display: none;
}
@media screen and (max-width: 1023px) {
  .footerSectionWrapper .footerSection__rightBlock-socialContainer {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 320px) and (max-width: 750px) {
  .footerSectionWrapper .footerSection__rightBlock-socialContainer {
    display: none;
  }
}
.footerSectionWrapper .footerSection__mapContainer {
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.28px;
}
@media (min-width: 1001px) and (max-width: 1023px) {
  .footerSectionWrapper .footerSection__mapContainer {
    position: absolute;
    left: 50%;
    bottom: 0;
    padding: 0 0 32px 0;
    transform: translate(-50%);
  }
}
@media (min-width: 750px) and (max-width: 1000px) {
  .footerSectionWrapper .footerSection__mapContainer {
    position: absolute;
    left: 5%;
    bottom: 0;
    padding: 0 0 32px 0;
  }
}
@media (min-width: 320px) and (max-width: 750px) {
  .footerSectionWrapper .footerSection__mapContainer {
    display: none;
  }
}
.footerSectionWrapper .footerSection__mapContainer img {
  padding: 0 15px 0 0;
}
.footerSectionWrapper .footerSection__mapContainer a {
  color: #111517;
  text-decoration: underline;
}
@media screen and (max-width: 1023px) {
  .footerSectionWrapper .footerSection__mapContainer a {
    text-decoration: none;
  }
}
.footerSectionWrapper .footerSection__mapContainer a:hover {
  text-decoration: none;
}

.footerWrapper {
  font-family: "Kyiv Type Sans", sans-serif;
  background-color: #1f6c94;
  color: #fff;
  padding: 44px 0;
}
.footerWrapper .footer {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 1023px) and (max-width: 1440px) {
  .footerWrapper .footer {
    max-width: calc(884px + (1300 - 884) * (100vw - 1023px) / (1440 - 1023));
  }
}
@media (min-width: 320px) and (max-width: 1023px) {
  .footerWrapper .footer {
    max-width: calc(280px + (884 - 280) * (100vw - 320px) / (1023 - 320));
  }
}
.footerWrapper .footer__title {
  position: absolute;
  left: 80px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .footerWrapper .footer__title {
    left: 57px;
  }
}
.footerWrapper .footer__title h1 {
  font-size: 20px;
  margin: 0;
}
@media (min-width: 320px) and (max-width: 750px) {
  .footerWrapper .footer__title h1 {
    font-size: calc(14px + (20 - 14) * (100vw - 320px) / (750 - 320));
  }
}
.footerWrapper .footer__CopRight {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 1000px) {
  .footerWrapper .footer__CopRight {
    flex-direction: column;
    gap: 17px;
  }
}
.footerWrapper .footer__CopRight span {
  font-size: 16px;
  align-self: flex-end;
}