@charset "UTF-8";
@font-face {
  font-family: "Kyiv Type Sans";
  src: url("KyivTypeSans.woff2") format("woff2"), url("KyivTypeSans.woff") format("woff");
  font-weight: 1;
  font-style: normal;
}
@font-face {
  font-family: "Kyiv Type Sans";
  src: url("KyivTypeSans-Thin.woff2") format("woff2"), url("KyivTypeSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Kyiv Type Sans";
  src: url("KyivTypeSans-Light.woff2") format("woff2"), url("KyivTypeSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Kyiv Type Sans";
  src: url("KyivTypeSans-Regular.woff2") format("woff2"), url("KyivTypeSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Kyiv Type Sans";
  src: url("KyivTypeSans-Medium.woff2") format("woff2"), url("KyivTypeSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Kyiv Type Sans";
  src: url("KyivTypeSans-Bold.woff2") format("woff2"), url("KyivTypeSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Kyiv Type Sans";
  src: url("KyivTypeSans-Heavy.woff2") format("woff2"), url("KyivTypeSans-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Kyiv Type Sans";
  src: url("KyivTypeSans-Black.woff2") format("woff2"), url("KyivTypeSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
body {
  margin: 0;
}

.mainSectionWrapper {
  position: relative;
  background-color: #e7ecef;
}
@media screen and (max-width: 520px) {
  .mainSectionWrapper {
    overflow-x: hidden;
  }
}
.mainSectionWrapper .mainSection {
  max-width: 1300px;
  margin: 0 auto;
  padding: 55px 0 0 0;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .mainSectionWrapper .mainSection {
    max-width: calc(884px + (1300 - 884) * (100vw - 1025px) / (1440 - 1025));
  }
}
@media (min-width: 320px) and (max-width: 1025px) {
  .mainSectionWrapper .mainSection {
    max-width: calc(280px + (884 - 280) * (100vw - 320px) / (1023 - 320));
  }
}
.mainSectionWrapper .mainSection__header {
  padding-bottom: 81px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media (min-width: 770px) and (max-width: 1150px) {
  .mainSectionWrapper .mainSection__header {
    flex-wrap: wrap;
  }
}
@media (min-width: 1000px) and (max-width: 1023px) {
  .mainSectionWrapper .mainSection__header {
    padding-bottom: 24px;
  }
}
@media (min-width: 320px) and (max-width: 1023px) {
  .mainSectionWrapper .mainSection__header {
    padding-bottom: 0px;
    flex-wrap: nowrap;
  }
}
.mainSectionWrapper .mainSection__header-menuMob {
  display: none;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .mainSectionWrapper .mainSection__header-menuMob {
    display: flex;
    width: 100vw;
    background: #5c686d;
    position: absolute;
    top: calc(100% + 17px);
    left: 50%;
    transform: translateX(-50%);
  }
}
.mainSectionWrapper .mainSection__header-menuMob button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 13px 0 15px 50px;
}
@media (min-width: 770px) and (max-width: 1024px) {
  .mainSectionWrapper .mainSection__header-menuMob button {
    margin-left: calc(55px + (75 - 55) * (100vw - 770px) / (1024 - 770));
  }
}
@media (min-width: 320px) and (max-width: 770px) {
  .mainSectionWrapper .mainSection__header-menuMob button {
    margin-left: calc(45px + (55 - 45) * (100vw - 320px) / (770 - 320));
  }
}
.mainSectionWrapper .mainSection__header-menuMob img {
  width: 24px;
  height: 24px;
}
.mainSectionWrapper .mainSection__header-menuWrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 320px) and (max-width: 1150px) {
  .mainSectionWrapper .mainSection__header-menuWrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 320px) and (max-width: 1023px) {
  .mainSectionWrapper .mainSection__header-menuWrap {
    max-width: 160px;
  }
}
.mainSectionWrapper .mainSection__header-menuWrap-title a {
  text-decoration: none;
  font-size: 32px;
  font-family: "Kyiv Type Sans", serif;
  font-weight: 400;
  color: #111517;
}
@media (min-width: 320px) and (max-width: 475px) {
  .mainSectionWrapper .mainSection__header-menuWrap-title a {
    font-size: calc(20px + (32 - 20) * (100vw - 320px) / (475 - 320));
  }
}
.mainSectionWrapper .mainSection__header-menuWrap-menuList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 23px;
}
@media (min-width: 1150px) and (max-width: 1440px) {
  .mainSectionWrapper .mainSection__header-menuWrap-menuList {
    gap: calc(15px + (23 - 15) * (100vw - 1150px) / (1440 - 1150));
  }
}
@media (min-width: 320px) and (max-width: 1023px) {
  .mainSectionWrapper .mainSection__header-menuWrap-menuList {
    display: none;
  }
}
.mainSectionWrapper .mainSection__header-menuWrap-menuList-item a {
  position: relative;
  display: inline-block;
  color: #111517;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
}
.mainSectionWrapper .mainSection__header-menuWrap-menuList-item a:hover {
  color: #1f6c94;
  transform: translateY(-5px);
}
.mainSectionWrapper .mainSection__header-menuWrap-menuList-item a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20px;
  width: 10px;
  height: 10px;
  background: #1f6c94;
  transform: translateX(-50%) rotate(45deg) scale(0);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.mainSectionWrapper .mainSection__header-menuWrap-menuList-item a:hover::after {
  opacity: 1;
  transform: translateX(-50%) rotate(45deg) scale(1);
  bottom: -10px;
}
.mainSectionWrapper .mainSection__header-menuWrap-menuList-item a {
  font-size: 24px;
  font-weight: 400;
  font-family: "KyivType Sans", sans-serif;
  text-decoration: none;
  color: #111517;
}
.mainSectionWrapper .mainSection__header-call {
  padding-left: 80px;
  min-width: 258px;
}
@media (min-width: 770px) and (max-width: 1150px) {
  .mainSectionWrapper .mainSection__header-call {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 36px 0 24px 0;
  }
}
@media (min-width: 320px) and (max-width: 1023px) {
  .mainSectionWrapper .mainSection__header-call {
    min-width: inherit;
    padding: 0;
  }
}
.mainSectionWrapper .mainSection__header-callWrap {
  position: relative;
  max-width: 258px;
  border: 1px solid #1f6c94;
  border-radius: 20px;
  padding: 17.5px 23.5px;
  display: flex;
  align-items: center;
  gap: 10px;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .mainSectionWrapper .mainSection__header-callWrap {
    max-width: calc(120px + (258 - 120) * (100vw - 320px) / (1024 - 320));
    border: none;
    padding: 0;
  }
}
@media (min-width: 320px) and (max-width: 475px) {
  .mainSectionWrapper .mainSection__header-callWrap {
    align-items: inherit;
  }
}
.mainSectionWrapper .mainSection__header-callWrap-img {
  width: 18px;
  height: 18px;
}
@media (min-width: 320px) and (max-width: 475px) {
  .mainSectionWrapper .mainSection__header-callWrap-img {
    width: calc(9px + (15 - 9) * (100vw - 320px) / (475 - 320));
    height: calc(9px + (15 - 9) * (100vw - 320px) / (475 - 320));
  }
}
@media (min-width: 320px) and (max-width: 475px) {
  .mainSectionWrapper .mainSection__header-callWrap-img {
    position: absolute;
    left: calc(9px + (0 - 9) * (100vw - 320px) / (475 - 320));
  }
}
.mainSectionWrapper .mainSection__header-callWrap-textContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  font-family: "KyivType Sans", sans-serif;
  text-decoration: none;
  color: #1f6c94;
}
@media (min-width: 320px) and (max-width: 770px) {
  .mainSectionWrapper .mainSection__header-callWrap-textContainer {
    font-size: calc(10px + (16 - 10) * (100vw - 320px) / (770 - 320));
  }
}
.mainSectionWrapper .mainSection__header-callWrap-textContainer span {
  margin-bottom: 7px;
}
@media (min-width: 320px) and (max-width: 475px) {
  .mainSectionWrapper .mainSection__header-callWrap-textContainer span {
    margin-bottom: calc(3px + (7 - 3) * (100vw - 320px) / (475 - 320));
  }
}
.mainSectionWrapper .mainSection__header-callWrap-textContainer a {
  text-decoration: none;
  color: #1f6c94;
}
.mainSectionWrapper .mainSection__yogaSubscription-wrapper {
  position: relative;
  display: flex;
}
@media (min-width: 320px) and (max-width: 1150px) {
  .mainSectionWrapper .mainSection__yogaSubscription-wrapper {
    flex-direction: column;
  }
}
.mainSectionWrapper .mainSection__yogaSubscription-generalImgContainer {
  display: flex;
  position: absolute;
  right: 0;
  padding-bottom: 20px;
}
@media (min-width: 320px) and (max-width: 1150px) {
  .mainSectionWrapper .mainSection__yogaSubscription-generalImgContainer {
    position: inherit;
    display: flex;
    justify-content: center;
  }
}
.mainSectionWrapper .mainSection__yogaSubscription-generalImgContainer img {
  max-width: 1074px;
}
@media (min-width: 1150px) and (max-width: 1350px) {
  .mainSectionWrapper .mainSection__yogaSubscription-generalImgContainer img {
    max-width: calc(850px + (1000 - 850) * (100vw - 1150px) / (1350 - 1150));
  }
}
@media (min-width: 320px) and (max-width: 1150px) {
  .mainSectionWrapper .mainSection__yogaSubscription-generalImgContainer img {
    max-width: calc(413px + (850 - 413) * (100vw - 320px) / (1150 - 320));
  }
}
@media (min-width: 320px) and (max-width: 475px) {
  .mainSectionWrapper .mainSection__yogaSubscription-generalImgContainer img {
    padding-bottom: 100px;
  }
}
.mainSectionWrapper .mainSection__yogaSubscription-container {
  display: flex;
  flex-direction: column;
}
.mainSectionWrapper .mainSection__yogaSubscription-container-title {
  margin: 0px 0 40px 0;
  font-size: 64px;
  font-family: "Kyiv Type Sans", sans-serif;
  font-weight: 500;
  color: #111517;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .mainSectionWrapper .mainSection__yogaSubscription-container-title {
    margin: 117px 0 40px 0;
  }
}
@media (min-width: 320px) and (max-width: 770px) {
  .mainSectionWrapper .mainSection__yogaSubscription-container-title {
    font-size: calc(32px + (64 - 32) * (100vw - 320px) / (770 - 320));
  }
}
.mainSectionWrapper .mainSection__yogaSubscription-container-title-yoga {
  display: inline-block;
}
@media (min-width: 320px) and (max-width: 475px) {
  .mainSectionWrapper .mainSection__yogaSubscription-container-title-yoga {
    display: block;
  }
}
.mainSectionWrapper .mainSection__yogaSubscription-container-title span {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.mainSectionWrapper .mainSection__yogaSubscription-container-title span::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 30%;
  width: 18px;
  height: 18px;
  background: #1f6c94;
  transform: rotate(135deg);
}
@media (min-width: 320px) and (max-width: 770px) {
  .mainSectionWrapper .mainSection__yogaSubscription-container-title span::after {
    width: calc(10px + (18 - 10) * (100vw - 320px) / (770 - 320));
    height: calc(10px + (18 - 10) * (100vw - 320px) / (770 - 320));
  }
}
.mainSectionWrapper .mainSection__yogaSubscription-container-discription {
  max-width: 500px;
  font-size: 24px;
  font-family: "Kyiv Type Sans", sans-serif;
  font-weight: 500;
  color: #5c686d;
}
@media (min-width: 320px) and (max-width: 770px) {
  .mainSectionWrapper .mainSection__yogaSubscription-container-discription {
    font-size: calc(16px + (24 - 16) * (100vw - 320px) / (770 - 320));
  }
}
@media (min-width: 320px) and (max-width: 475px) {
  .mainSectionWrapper .mainSection__yogaSubscription-container-discription {
    padding: 0 0 15px 0;
  }
}
.mainSectionWrapper .mainSection__yogaSubscription-container button {
  background: none;
  border: none;
  border-radius: 20px;
  max-width: 311px;
  margin: 40px 0;
  padding: 25px 16px;
  background-color: #1f6c94;
  font-size: 24px;
  font-family: "Kyiv Type Sans", sans-serif;
  font-weight: 300;
  color: #e7ecef;
  cursor: pointer;
}
@media (min-width: 320px) and (max-width: 475px) {
  .mainSectionWrapper .mainSection__yogaSubscription-container button {
    display: none;
  }
}
@media (min-width: 475px) and (max-width: 770px) {
  .mainSectionWrapper .mainSection__yogaSubscription-container button {
    max-width: calc(250px + (311 - 250) * (100vw - 475px) / (770 - 475));
    font-size: calc(18px + (24 - 18) * (100vw - 475px) / (770 - 475));
  }
}
.mainSectionWrapper .mainSection__yogaSubscription-container-visitors {
  display: flex;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 475px) {
  .mainSectionWrapper .mainSection__yogaSubscription-container-visitors {
    flex-direction: column;
    position: absolute;
    bottom: 15px;
    right: 0;
  }
}
.mainSectionWrapper .mainSection__yogaSubscription-container-visitors img:nth-child(1) {
  margin: 0 8px 0 0;
}
@media (min-width: 320px) and (max-width: 475px) {
  .mainSectionWrapper .mainSection__yogaSubscription-container-visitors img:nth-child(1) {
    margin: 0;
  }
}
.mainSectionWrapper .mainSection__yogaSubscription-container-visitors-textContainer {
  display: flex;
  flex-direction: column;
}
.mainSectionWrapper .mainSection__yogaSubscription-container-visitors-textContainer div {
  display: flex;
  align-items: center;
}
.mainSectionWrapper .mainSection__yogaSubscription-container-visitors-textContainer span:nth-child(1) {
  font-size: 18px;
  font-family: "Kyiv Type Sans", sans-serif;
  font-weight: 500;
}
@media (min-width: 320px) and (max-width: 475px) {
  .mainSectionWrapper .mainSection__yogaSubscription-container-visitors-textContainer span:nth-child(1) {
    font-size: calc(14px + (18 - 14) * (100vw - 475px) / (320 - 475));
  }
}
.mainSectionWrapper .mainSection__yogaSubscription-container-visitors-textContainer img {
  width: 18px;
  height: 18px;
}
.mainSectionWrapper .mainSection__yogaSubscription-container-visitors-textContainer span:nth-child(2) {
  margin: 0 5px;
  line-height: 16px;
  font-size: 12px;
  font-family: "Kyiv Type Sans", sans-serif;
  font-weight: 550;
}
@media (min-width: 320px) and (max-width: 475px) {
  .mainSectionWrapper .mainSection__yogaSubscription-container-visitors-textContainer span:nth-child(2) {
    font-size: calc(10px + (16 - 10) * (100vw - 475px) / (320 - 475));
  }
}
.mainSectionWrapper .mainSection__yogaSubscription-container-visitors-textContainer span:nth-child(3) {
  font-size: 12px;
  font-family: "Kyiv Type Sans", sans-serif;
  font-weight: 300;
  color: #5c686d;
}
.mainSectionWrapper .mainSection__yogaSubscription-container-social {
  margin: 0;
  padding: 0;
  gap: 5px;
  display: flex;
  align-items: center;
  padding-top: 245px;
  padding-bottom: 55px;
}
@media (min-width: 320px) and (max-width: 1150px) {
  .mainSectionWrapper .mainSection__yogaSubscription-container-social {
    position: absolute;
    bottom: 15px;
    padding: 0;
    margin: 0;
  }
}
.mainSectionWrapper .mainSection__yogaSubscription-container-social img:nth-child(1) {
  width: 35px;
  height: 35px;
}
@media (min-width: 320px) and (max-width: 475px) {
  .mainSectionWrapper .mainSection__yogaSubscription-container-social img:nth-child(1) {
    width: calc(20px + (35 - 20) * (100vw - 320px) / (475 - 320));
    height: calc(20px + (35 - 20) * (100vw - 320px) / (475 - 320));
  }
}
.mainSectionWrapper .mainSection__yogaSubscription-container-social img:nth-child(2) {
  width: 44px;
  height: 44px;
}
@media (min-width: 320px) and (max-width: 475px) {
  .mainSectionWrapper .mainSection__yogaSubscription-container-social img:nth-child(2) {
    width: calc(25px + (44 - 25) * (100vw - 320px) / (475 - 320));
    height: calc(25px + (44 - 25) * (100vw - 320px) / (475 - 320));
  }
}
.mainSectionWrapper .mainSection__yogaSubscription-container-social img:nth-child(3) {
  width: 44px;
  height: 44px;
}
@media (min-width: 320px) and (max-width: 475px) {
  .mainSectionWrapper .mainSection__yogaSubscription-container-social img:nth-child(3) {
    width: calc(25px + (44 - 25) * (100vw - 320px) / (475 - 320));
    height: calc(25px + (44 - 25) * (100vw - 320px) / (475 - 320));
  }
}
.mainSectionWrapper-marker {
  bottom: -12px;
  position: absolute;
  padding: 6px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}
@media screen and (max-width: 520px) {
  .mainSectionWrapper-marker {
    display: none;
  }
}
.mainSectionWrapper-marker-left {
  width: 12px;
  border: 5px solid #1f6c94;
  background: #1f6c94;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.mainSectionWrapper-marker-center {
  width: 12px;
  height: 12px;
  background: #1f6c94;
  transform: rotate(135deg);
}
.mainSectionWrapper-marker-right {
  width: 12px;
  border: 5px solid #1f6c94;
  background: #1f6c94;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.programSectionWrapper {
  position: relative;
}
.programSectionWrapper .programSection {
  max-width: 1300px;
  margin: 0 auto;
  padding: 55px 0 0 0;
}
@media (min-width: 1025px) and (max-width: 1440px) {
  .programSectionWrapper .programSection {
    max-width: calc(884px + (1300 - 884) * (100vw - 1025px) / (1440 - 1025));
  }
}
@media (min-width: 320px) and (max-width: 1025px) {
  .programSectionWrapper .programSection {
    max-width: calc(280px + (884 - 280) * (100vw - 320px) / (1023 - 320));
  }
}
.programSectionWrapper .programSection-marker {
  z-index: 100;
  bottom: -12px;
  position: absolute;
  padding: 6px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}
@media screen and (max-width: 520px) {
  .programSectionWrapper .programSection-marker {
    display: none;
  }
}
.programSectionWrapper .programSection-marker-left {
  width: 12px;
  border: 5px solid #1f6c94;
  background: #1f6c94;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.programSectionWrapper .programSection-marker-center {
  width: 12px;
  height: 12px;
  background: #1f6c94;
  transform: rotate(135deg);
}
.programSectionWrapper .programSection-marker-right {
  width: 12px;
  border: 5px solid #1f6c94;
  background: #1f6c94;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.programSectionWrapper .programSection__titleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 54px;
}
.programSectionWrapper .programSection__titleContainer-title {
  font-size: 40px;
  font-family: "Kyiv Type Sans", sans-serif;
  font-weight: 550;
  color: #1f6c94;
}
@media (min-width: 770px) and (max-width: 1000px) {
  .programSectionWrapper .programSection__titleContainer-title {
    font-size: calc(35px + (40 - 35) * (100vw - 770px) / (1000 - 770));
  }
}
@media (min-width: 320px) and (max-width: 770px) {
  .programSectionWrapper .programSection__titleContainer-title {
    font-size: calc(24px + (35 - 24) * (100vw - 320px) / (770 - 320));
    line-height: unset;
  }
}
.programSectionWrapper .programSection__titleContainer-subtitle {
  font-size: 24px;
  line-height: 40px;
  font-family: "Kyiv Type Sans", sans-serif;
  font-weight: 400;
  color: #5c686d;
}
@media (min-width: 770px) and (max-width: 1000px) {
  .programSectionWrapper .programSection__titleContainer-subtitle {
    font-size: calc(22px + (24 - 22) * (100vw - 770px) / (1000 - 770));
  }
}
@media (min-width: 320px) and (max-width: 770px) {
  .programSectionWrapper .programSection__titleContainer-subtitle {
    font-size: calc(14px + (24 - 14) * (100vw - 320px) / (770 - 320));
    line-height: unset;
  }
}
.programSectionWrapper .programSection__sliderWrapper {
  display: flex;
  justify-content: center;
}
.programSectionWrapper .programSection__sliderWrapper-container {
  display: flex;
  gap: 20px;
  padding-bottom: 120px;
}
@media (min-width: 770px) and (max-width: 1190px) {
  .programSectionWrapper .programSection__sliderWrapper-container {
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (min-width: 320px) and (max-width: 770px) {
  .programSectionWrapper .programSection__sliderWrapper-container {
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory; /* Скролл по карточке */
    -webkit-overflow-scrolling: touch; /* Для плавного скролла на мобильных устройствах */
  }
}
.programSectionWrapper .programSection__sliderWrapper-container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #e7ecef;
  border-radius: 20px;
  padding: 16px;
}
@media (min-width: 770px) and (max-width: 1190px) {
  .programSectionWrapper .programSection__sliderWrapper-container-card {
    width: 380px;
  }
}
@media (min-width: 770px) and (max-width: 1000px) {
  .programSectionWrapper .programSection__sliderWrapper-container-card {
    width: calc(250px + (380 - 250) * (100vw - 770px) / (1000 - 770));
  }
}
@media (min-width: 320px) and (max-width: 770px) {
  .programSectionWrapper .programSection__sliderWrapper-container-card {
    flex: 0 0 auto;
    width: calc(240px + (280 - 240) * (100vw - 320px) / (770 - 320));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    scroll-snap-align: center; /* Центрирование карточки */
  }
}
.programSectionWrapper .programSection__sliderWrapper-container-card-marker {
  width: 11px;
  height: 11px;
  background: #1f6c94;
  transform: rotate(135deg);
  margin: 10px 0 20px 0;
}
.programSectionWrapper .programSection__sliderWrapper-container-card-title {
  font-size: 24px;
  line-height: 36px;
  font-family: "Kyiv Type Sans", sans-serif;
  font-weight: bold;
  color: #1f6c94;
}
@media (min-width: 320px) and (max-width: 770px) {
  .programSectionWrapper .programSection__sliderWrapper-container-card-title {
    font-size: calc(20px + (24 - 20) * (100vw - 320px) / (770 - 320));
    line-height: unset;
  }
}
.programSectionWrapper .programSection__sliderWrapper-container-card-discription {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  font-family: "Kyiv Type Sans", sans-serif;
  font-weight: 400;
  color: #555d65;
  max-width: 245px;
}
@media (min-width: 770px) and (max-width: 850px) {
  .programSectionWrapper .programSection__sliderWrapper-container-card-discription {
    max-width: 265px;
  }
}
.programSectionWrapper .programSection__sliderWrapper-container-card-img {
  width: 200px;
}
@media (min-width: 770px) and (max-width: 1190px) {
  .programSectionWrapper .programSection__sliderWrapper-container-card-img {
    width: calc(200px + (340 - 200) * (100vw - 770px) / (1190 - 770));
  }
}
.programSectionWrapper .programSection__sliderWrapper-container-card-button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-family: "Kyiv Type Sans", sans-serif;
  font-weight: 400;
  color: #1f6c94;
  border-radius: 20px;
  border: 1px solid #1f6c94;
  padding: 16.5px 23px;
  margin-top: 23px;
  cursor: pointer;
}

.trainersSectionWrapper {
  background-color: #e7ecef;
  position: relative;
}
.trainersSectionWrapper .trainersSection {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  padding: 60px 0 120px 0;
  font-family: "Kyiv Type Sans", sans-serif;
}
@media (min-width: 1023px) and (max-width: 1440px) {
  .trainersSectionWrapper .trainersSection {
    max-width: calc(884px + (1300 - 884) * (100vw - 1023px) / (1440 - 1023));
  }
}
@media (min-width: 320px) and (max-width: 1023px) {
  .trainersSectionWrapper .trainersSection {
    max-width: calc(280px + (884 - 280) * (100vw - 320px) / (1023 - 320));
  }
}
.trainersSectionWrapper .trainersSection-marker {
  bottom: -12px;
  position: absolute;
  padding: 6px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}
@media screen and (max-width: 520px) {
  .trainersSectionWrapper .trainersSection-marker {
    display: none;
  }
}
.trainersSectionWrapper .trainersSection-marker-left {
  width: 12px;
  border: 5px solid #1f6c94;
  background: #1f6c94;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.trainersSectionWrapper .trainersSection-marker-center {
  width: 12px;
  height: 12px;
  background: #1f6c94;
  transform: rotate(135deg);
}
.trainersSectionWrapper .trainersSection-marker-right {
  width: 12px;
  border: 5px solid #1f6c94;
  background: #1f6c94;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
@media (min-width: 770px) and (max-width: 2561px) {
  .trainersSectionWrapper .trainersSection__imgWrapper {
    display: flex;
  }
}
@media (min-width: 320px) and (max-width: 770px) {
  .trainersSectionWrapper .trainersSection__imgWrapper {
    display: none;
  }
}
@media (min-width: 1023px) and (max-width: 2561px) {
  .trainersSectionWrapper .trainersSection__imgWrapper {
    max-width: calc(430px + (522 - 430) * (100vw - 1023px) / (2561 - 1023));
  }
}
@media (min-width: 770px) and (max-width: 1023px) {
  .trainersSectionWrapper .trainersSection__imgWrapper {
    max-width: calc(275px + (430 - 275) * (100vw - 770px) / (1023 - 770));
  }
}
.trainersSectionWrapper .trainersSection__imgWrapper-img {
  width: 100%;
}
@media (min-width: 320px) and (max-width: 770px) {
  .trainersSectionWrapper .trainersSection__textContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.trainersSectionWrapper .trainersSection__textContainer-firstTitle {
  font-size: 40px;
  font-family: "Kyiv Type Sans", sans-serif;
  font-weight: 550;
  color: #1f6c94;
}
@media (min-width: 320px) and (max-width: 770px) {
  .trainersSectionWrapper .trainersSection__textContainer-firstTitle {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 1023px) {
  .trainersSectionWrapper .trainersSection__textContainer-firstTitle {
    font-size: calc(24px + (40 - 24) * (100vw - 320px) / (1023 - 320));
  }
}
.trainersSectionWrapper .trainersSection__textContainer-firstTitle-arrowContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  bottom: -30px;
  right: 0;
}
@media (min-width: 771px) and (max-width: 2561px) {
  .trainersSectionWrapper .trainersSection__textContainer-firstTitle-arrowContainer {
    display: none;
  }
}
.trainersSectionWrapper .trainersSection__textContainer-firstTitle-arrowContainer-arrowLeft {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 18px 13px 16px;
  border: 1px solid #1f6c94;
  border-radius: 50%;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .trainersSectionWrapper .trainersSection__textContainer-firstTitle-arrowContainer-arrowLeft {
    padding: calc(6.5px + (13 - 6.5) * (100vw - 320px) / (1024 - 320)) calc(9px + (18 - 9) * (100vw - 320px) / (1024 - 320)) calc(6.5px + (13 - 6.5) * (100vw - 320px) / (1024 - 320)) calc(8px + (16 - 8) * (100vw - 320px) / (1024 - 320));
  }
}
.trainersSectionWrapper .trainersSection__textContainer-firstTitle-arrowContainer-arrowLeft img {
  width: 16px;
  height: 24px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .trainersSectionWrapper .trainersSection__textContainer-firstTitle-arrowContainer-arrowLeft img {
    width: calc(8px + (16 - 8) * (100vw - 320px) / (770 - 320));
    height: calc(12px + (24 - 12) * (100vw - 320px) / (770 - 320));
  }
}
.trainersSectionWrapper .trainersSection__textContainer-firstTitle-arrowContainer-arrowRight {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 16px 13px 18px;
  border: 1px solid #1f6c94;
  border-radius: 50%;
  background: #1f6c94;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .trainersSectionWrapper .trainersSection__textContainer-firstTitle-arrowContainer-arrowRight {
    padding: calc(6.5px + (13 - 6.5) * (100vw - 320px) / (1024 - 320)) calc(8px + (16 - 8) * (100vw - 320px) / (1024 - 320)) calc(6.5px + (13 - 6.5) * (100vw - 320px) / (1024 - 320)) calc(9px + (18 - 9) * (100vw - 320px) / (1024 - 320));
  }
}
.trainersSectionWrapper .trainersSection__textContainer-firstTitle-arrowContainer-arrowRight img {
  width: 16px;
  height: 24px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .trainersSectionWrapper .trainersSection__textContainer-firstTitle-arrowContainer-arrowRight img {
    width: calc(8px + (16 - 8) * (100vw - 320px) / (770 - 320));
    height: calc(12px + (24 - 12) * (100vw - 320px) / (770 - 320));
  }
}
.trainersSectionWrapper .trainersSection__textContainer-mobImgContainer {
  max-width: 400px;
  position: relative;
  align-self: center;
  width: 100%;
  height: 400px;
}
@media (min-width: 770px) and (max-width: 2561px) {
  .trainersSectionWrapper .trainersSection__textContainer-mobImgContainer {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 770px) {
  .trainersSectionWrapper .trainersSection__textContainer-mobImgContainer {
    height: calc(150px + (400 - 150) * (100vw - 320px) / (770 - 320));
  }
}
.trainersSectionWrapper .trainersSection__textContainer-mobImgContainer-img {
  position: absolute;
  width: 360px;
  right: 40%;
  top: 0;
  transform: translate(65%);
}
@media (min-width: 515px) and (max-width: 770px) {
  .trainersSectionWrapper .trainersSection__textContainer-mobImgContainer-img {
    width: calc(299px + (425 - 299) * (100vw - 515px) / (770 - 515));
    right: calc(200px + (169 - 200) * (100vw - 515px) / (770 - 515));
    top: calc(-6px + (0 - -6) * (100vw - 515px) / (770 - 515));
  }
}
@media (min-width: 320px) and (max-width: 515px) {
  .trainersSectionWrapper .trainersSection__textContainer-mobImgContainer-img {
    width: calc(197px + (450 - 197) * (100vw - 320px) / (770 - 320));
    right: calc(129px + (259 - 129) * (100vw - 320px) / (770 - 320));
    top: calc(-6px + (0 - -6) * (100vw - 515px) / (770 - 515));
  }
}
.trainersSectionWrapper .trainersSection__textContainer-secondBlock {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 320px) and (max-width: 770px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock {
    flex-direction: column-reverse;
  }
}
@media (min-width: 320px) and (max-width: 770px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-marker {
    padding-bottom: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-marker-left {
    width: 20px;
    border: 5px solid #1f6c94;
    background: #1f6c94;
    border-radius: 20px;
  }
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-marker-center {
    width: 12px;
    height: 12px;
    background: #1f6c94;
    transform: rotate(135deg);
  }
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-marker-right {
    width: 20px;
    border: 5px solid #1f6c94;
    background: #1f6c94;
    border-radius: 20px;
  }
}
.trainersSectionWrapper .trainersSection__textContainer-secondBlock-arrowContainer {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 16px;
  bottom: -30px;
  right: 0;
}
@media (min-width: 770px) and (max-width: 1271px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-arrowContainer {
    bottom: -3px;
  }
}
@media (min-width: 320px) and (max-width: 770px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-arrowContainer {
    display: none;
  }
}
.trainersSectionWrapper .trainersSection__textContainer-secondBlock-arrowContainer-arrowLeft {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 18px 13px 16px;
  border: 1px solid #1f6c94;
  border-radius: 50%;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-arrowContainer-arrowLeft {
    padding: calc(6.5px + (13 - 6.5) * (100vw - 320px) / (1024 - 320)) calc(9px + (18 - 9) * (100vw - 320px) / (1024 - 320)) calc(6.5px + (13 - 6.5) * (100vw - 320px) / (1024 - 320)) calc(8px + (16 - 8) * (100vw - 320px) / (1024 - 320));
  }
}
.trainersSectionWrapper .trainersSection__textContainer-secondBlock-arrowContainer-arrowLeft img {
  width: 16px;
  height: 24px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-arrowContainer-arrowLeft img {
    width: calc(8px + (16 - 8) * (100vw - 320px) / (770 - 320));
    height: calc(12px + (24 - 12) * (100vw - 320px) / (770 - 320));
  }
}
.trainersSectionWrapper .trainersSection__textContainer-secondBlock-arrowContainer-arrowRight {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 16px 13px 18px;
  border: 1px solid #1f6c94;
  border-radius: 50%;
  background: #1f6c94;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-arrowContainer-arrowRight {
    padding: calc(6.5px + (13 - 6.5) * (100vw - 320px) / (1024 - 320)) calc(8px + (16 - 8) * (100vw - 320px) / (1024 - 320)) calc(6.5px + (13 - 6.5) * (100vw - 320px) / (1024 - 320)) calc(9px + (18 - 9) * (100vw - 320px) / (1024 - 320));
  }
}
.trainersSectionWrapper .trainersSection__textContainer-secondBlock-arrowContainer-arrowRight img {
  width: 16px;
  height: 24px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-arrowContainer-arrowRight img {
    width: calc(8px + (16 - 8) * (100vw - 320px) / (770 - 320));
    height: calc(12px + (24 - 12) * (100vw - 320px) / (770 - 320));
  }
}
.trainersSectionWrapper .trainersSection__textContainer-secondBlock-discription {
  font-size: 24px;
  font-family: "Kyiv Type Sans", sans-serif;
  font-weight: 400;
  line-height: 150%;
  color: #555d65;
}
@media screen and (min-width: 1023px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-discription {
    max-width: 630px;
  }
}
@media (min-width: 1023px) and (max-width: 1440px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-discription {
    font-size: calc(16px + (24 - 16) * (100vw - 1023px) / (1440 - 1023));
    line-height: calc(26px + (40 - 26) * (100vw - 1023px) / (1440 - 1023));
    max-width: 630px;
  }
}
@media (min-width: 1160px) and (max-width: 1280px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-discription {
    max-width: calc(500px + (570 - 500) * (100vw - 1023px) / (1280 - 1023));
  }
}
@media (min-width: 1022px) and (max-width: 1160px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-discription {
    max-width: calc(370px + (500 - 370) * (100vw - 1023px) / (1280 - 1023));
  }
}
@media (min-width: 770px) and (max-width: 1023px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-discription {
    font-size: 16px;
    line-height: 26px;
    max-width: 370px;
  }
}
@media (min-width: 320px) and (max-width: 770px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-discription {
    font-size: 16px;
    line-height: 26px;
    max-width: 370px;
  }
}
.trainersSectionWrapper .trainersSection__textContainer-secondBlock-secondTitle {
  padding-top: 36px;
  font-size: 36px;
  font-family: "Kyiv Type Sans", sans-serif;
  line-height: 48px;
  font-weight: 500;
  color: #1f6c94;
}
@media (min-width: 771px) and (max-width: 2560px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-secondTitle {
    position: relative;
  }
}
.trainersSectionWrapper .trainersSection__textContainer-secondBlock-secondTitle-container {
  display: flex;
  flex-direction: column;
}
.trainersSectionWrapper .trainersSection__textContainer-secondBlock-subscription {
  font-size: 24px;
  font-family: "Kyiv Type Sans", sans-serif;
  font-weight: 400;
  line-height: 48px;
  color: #111517;
}
@media (min-width: 320px) and (max-width: 770px) {
  .trainersSectionWrapper .trainersSection__textContainer-secondBlock-subscription {
    font-size: 16px;
  }
}

.subscriptionSectionWrapper {
  position: relative;
  overflow-x: hidden;
  padding: 106px 0 186px 0;
}
.subscriptionSectionWrapper .subscriptionSection {
  font-family: "Kyiv Type Sans", sans-serif;
  margin: 0 auto;
  max-width: 1300px;
}
@media (min-width: 1023px) and (max-width: 1440px) {
  .subscriptionSectionWrapper .subscriptionSection {
    max-width: calc(884px + (1300 - 884) * (100vw - 1023px) / (1440 - 1023));
  }
}
@media (min-width: 320px) and (max-width: 1023px) {
  .subscriptionSectionWrapper .subscriptionSection {
    max-width: calc(280px + (884 - 280) * (100vw - 320px) / (1023 - 320));
  }
}
.subscriptionSectionWrapper .subscriptionSection__headerTitleContainer {
  margin-bottom: 60px;
}
.subscriptionSectionWrapper .subscriptionSection__headerTitleContainer-title {
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: 500;
  color: #1f6c94;
}
@media (min-width: 320px) and (max-width: 980px) {
  .subscriptionSectionWrapper .subscriptionSection__headerTitleContainer-title {
    font-size: calc(24px + (40 - 24) * (100vw - 320px) / (980 - 320));
  }
}
.subscriptionSectionWrapper .subscriptionSection__headerTitleContainer-subtitle {
  margin: 0;
  padding: 24px 0 0 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
  color: #555d65;
}
@media (min-width: 320px) and (max-width: 980px) {
  .subscriptionSectionWrapper .subscriptionSection__headerTitleContainer-subtitle {
    font-size: calc(16px + (24 - 16) * (100vw - 320px) / (980 - 320));
    padding: calc(16px + (24 - 16) * (100vw - 320px) / (980 - 320)) 0 0 0;
  }
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
@media (min-width: 320px) and (max-width: 980px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper {
    flex-direction: column;
    gap: 10px;
    width: 95vw;
    left: 50%;
    transform: translate(-50%);
  }
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap:nth-child(1) {
  z-index: 1;
  align-self: flex-start;
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap:nth-child(1):hover {
  z-index: 20;
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap:nth-child(2) {
  align-self: center;
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap:nth-child(3) {
  z-index: 1;
  align-self: flex-end;
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap:nth-child(3):hover {
  z-index: 10;
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap {
  width: 360px;
  height: 318px;
  z-index: 10;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap {
    width: calc(275px + (360 - 275) * (100vw - 1024px) / (1440 - 1024));
    height: calc(245px + (318 - 245) * (100vw - 1024px) / (1440 - 1024));
  }
}
@media (min-width: 981px) and (max-width: 1024px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap {
    width: calc(275px + (275 - 275) * (100vw - 980px) / (1024 - 980));
    height: calc(245px + (245 - 245) * (100vw - 980px) / (1024 - 980));
  }
}
@media (min-width: 320px) and (max-width: 981px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap {
    width: calc(210px + (275 - 210) * (100vw - 320px) / (981 - 320));
    height: calc(188px + (245 - 188) * (100vw - 320px) / (981 - 320));
  }
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  color: #1f6c94;
  background-color: #e7ecef;
  padding: 26px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  transition: all ease-in-out 0.5s;
}
@media (min-width: 320px) and (max-width: 980px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card {
    width: calc(210px + (275 - 210) * (100vw - 320px) / (980 - 320));
    height: calc(188px + (245 - 188) * (100vw - 320px) / (980 - 320));
    gap: 3px;
  }
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card .subscriptionSection__cardWrapper-wrap-card-hover {
  display: none;
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card:hover {
  cursor: pointer;
  color: #e7ecef !important;
  background-color: #1f6c94;
  transition: all ease-in-out 0.5s;
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card:hover .subscriptionSection__cardWrapper-wrap-card-btn {
  background-color: #e7ecef;
  color: #1f6c94;
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card:hover .subscriptionSection__cardWrapper-wrap-card-btn:active {
  background-color: #1f6c94;
  color: #e7ecef;
  outline: 1px solid #e7ecef;
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card:hover .subscriptionSection__cardWrapper-wrap-marker {
  display: none;
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card:hover .subscriptionSection__cardWrapper-wrap-card-marker {
  display: none;
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card:hover .subscriptionSection__cardWrapper-wrap-card-hover {
  position: absolute;
  display: flex;
  z-index: -10;
  background: #e7ecef;
  box-shadow: 0px 0px 7px black;
  left: 50%;
  top: 50%;
  width: 320px;
  height: 320px;
  transform: translate(-50%, -50%) rotate(45deg);
  opacity: 0;
}
@media (min-width: 320px) and (max-width: 1440px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card:hover .subscriptionSection__cardWrapper-wrap-card-hover {
    width: calc(170px + (320 - 170) * (100vw - 320px) / (1440 - 320));
    height: calc(170px + (320 - 170) * (100vw - 320px) / (1440 - 320));
  }
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card:hover:hover .subscriptionSection__cardWrapper-wrap-card-hover {
  animation: hoverSlow 0.5s ease-in-out 0.3s forwards;
}
@keyframes hoverSlow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 320px) and (max-width: 980px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-left {
    align-self: flex-start;
  }
}
@media (min-width: 980px) and (max-width: 1024px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-center {
    margin-top: 83px;
  }
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-price {
  font-size: 58px;
  font-weight: 500;
  line-height: 63.8px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-price {
    font-size: calc(48px + (58 - 48) * (100vw - 1024px) / (1440 - 1024));
  }
}
@media (min-width: 980px) and (max-width: 1024px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-price {
    font-size: calc(48px + (48 - 48) * (100vw - 980px) / (1024 - 980));
  }
}
@media (min-width: 320px) and (max-width: 980px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-price {
    font-size: calc(36px + (48 - 36) * (100vw - 320px) / (980 - 320));
    line-height: auto;
  }
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-discription {
  font-size: 17px;
  font-weight: 400;
  line-height: 19.5px;
  max-width: 300px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-discription {
    font-size: calc(15px + (17 - 15) * (100vw - 1024px) / (1440 - 1024));
  }
}
@media (min-width: 980px) and (max-width: 1024px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-discription {
    font-size: calc(15px + (17 - 15) * (100vw - 980px) / (1024 - 980));
  }
}
@media (min-width: 320px) and (max-width: 980px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-discription {
    font-size: calc(12px + (15 - 12) * (100vw - 320px) / (980 - 320));
    line-height: unset;
  }
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-btn {
  align-self: flex-end;
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 1.12px;
  color: #e7ecef;
  background-color: #1f6c94;
  padding: 14px 28px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-btn {
    padding: calc(9px + (14 - 9) * (100vw - 1024px) / (1440 - 1024)) 28px;
  }
}
@media (min-width: 320px) and (max-width: 980px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-btn {
    font-size: calc(11px + (14 - 11) * (100vw - 320px) / (980 - 320));
    padding: calc(6px + (9 - 6) * (100vw - 320px) / (980 - 320)) 22px;
  }
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-btn:active {
  margin: 0;
  color: #1f6c94;
  background-color: #e7ecef;
  outline: 1px solid #1f6c94;
}
.subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-marker {
  position: absolute;
  top: calc(100% + 16px);
  right: 50%;
  background-color: #1f6c94;
  width: 11px;
  height: 11px;
  transform: translate(-50%);
  transform: rotate(135deg);
}
@media (min-width: 320px) and (max-width: 980px) {
  .subscriptionSectionWrapper .subscriptionSection__cardWrapper-wrap-card-marker {
    display: none;
  }
}

.footerSectionWrapper {
  position: relative;
  font-family: "Kyiv Type Sans", sans-serif;
  background-color: #e7ecef;
  padding: 120px 0;
}
.footerSectionWrapper-marker {
  z-index: 100;
  top: -12px;
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  padding: 6px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
}
@media screen and (max-width: 520px) {
  .footerSectionWrapper-marker {
    display: none;
  }
}
.footerSectionWrapper-marker-left {
  width: 12px;
  border: 5px solid #1f6c94;
  background: #1f6c94;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.footerSectionWrapper-marker-center {
  width: 12px;
  height: 12px;
  background: #1f6c94;
  transform: rotate(135deg);
}
.footerSectionWrapper-marker-right {
  width: 12px;
  border: 5px solid #1f6c94;
  background: #1f6c94;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.footerSectionWrapper .footerSection {
  z-index: -10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1300px;
}
@media (min-width: 1023px) and (max-width: 1440px) {
  .footerSectionWrapper .footerSection {
    max-width: calc(884px + (1300 - 884) * (100vw - 1023px) / (1440 - 1023));
  }
}
@media (min-width: 320px) and (max-width: 1023px) {
  .footerSectionWrapper .footerSection {
    max-width: calc(280px + (884 - 280) * (100vw - 320px) / (1023 - 320));
  }
}
.footerSectionWrapper .footerSection__leftBlock {
  max-width: 391px;
}
.footerSectionWrapper .footerSection__leftBlock-title {
  font-size: 40px;
  font-weight: 500;
  color: #1f6c94;
  margin: 0;
  padding-bottom: 36px;
}
.footerSectionWrapper .footerSection__leftBlock-workTime {
  display: flex;
  font-size: 20px;
  letter-spacing: 1.28px;
  padding: 0 0 20px 0;
}
.footerSectionWrapper .footerSection__leftBlock-workTime span:nth-child(1) {
  font-weight: 400;
}
.footerSectionWrapper .footerSection__leftBlock-workTime span:nth-child(2) {
  font-weight: bold;
}
.footerSectionWrapper .footerSection__leftBlock-socialContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 40px 0 0 0;
}
.footerSectionWrapper .footerSection__imgWrapper {
  position: relative;
}
.footerSectionWrapper .footerSection__imgWrapper-IMG {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footerSectionWrapper .footerSection__rightBlock {
  max-width: 255px;
}
.footerSectionWrapper .footerSection__rightBlock-title {
  font-size: 40px;
  font-weight: 500;
  color: #1f6c94;
  margin: 0;
  padding-bottom: 36px;
}
.footerSectionWrapper .footerSection__rightBlock-adress {
  display: flex;
  font-size: 20px;
  letter-spacing: 1.28px;
  font-weight: 400;
}
.footerSectionWrapper .footerSection__rightBlock-adress span {
  padding: 0 0 64px 0;
}
.footerSectionWrapper .footerSection__rightBlock-socialContainer {
  display: flex;
  display: none;
  align-items: center;
  gap: 16px;
}
.footerSectionWrapper .footerSection__mapContainer {
  display: flex;
  align-items: flex-end;
  font-size: 20px;
  letter-spacing: 1.28px;
  font-weight: 400;
}
.footerSectionWrapper .footerSection__mapContainer img {
  padding: 0 15px 0 0;
}