@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
// Змінні
$primary-color: #3498db;
$secondary-color: #2ecc71;
$font-stack: "Montserrat";
$base-font-size: 16px;

// Міксин для кнопок
@mixin button-styles($bg-color) {
  background-color: $bg-color;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $base-font-size;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

// Основні стилі
body {
  font-family: $font-stack;
  font-size: $base-font-size;
  margin: 0;
  padding: 0;
  background-color: #ecf0f1;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  h1 {
    color: $primary-color;
  }

  p {
    color: #333;
  }

  .btn {
    @include button-styles($primary-color);

    &.primary-btn {
      background-color: $primary-color;
    }

    &.secondary-btn {
      background-color: $secondary-color;
    }
  }
}
