@font-face {
  font-family: "Kyiv Type Sans";
  src:
    url("KyivTypeSans.woff2") format("woff2"),
    url("KyivTypeSans.woff") format("woff");
  font-weight: 1;
  font-style: normal;
}
@font-face {
  font-family: "Kyiv Type Sans";
  src:
    url("KyivTypeSans-Thin.woff2") format("woff2"),
    url("KyivTypeSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Kyiv Type Sans";
  src:
    url("KyivTypeSans-Light.woff2") format("woff2"),
    url("KyivTypeSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Kyiv Type Sans";
  src:
    url("KyivTypeSans-Regular.woff2") format("woff2"),
    url("KyivTypeSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Kyiv Type Sans";
  src:
    url("KyivTypeSans-Medium.woff2") format("woff2"),
    url("KyivTypeSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Kyiv Type Sans";
  src:
    url("KyivTypeSans-Bold.woff2") format("woff2"),
    url("KyivTypeSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Kyiv Type Sans";
  src:
    url("KyivTypeSans-Heavy.woff2") format("woff2"),
    url("KyivTypeSans-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Kyiv Type Sans";
  src:
    url("KyivTypeSans-Black.woff2") format("woff2"),
    url("KyivTypeSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@function values($min-value, $max-value, $min-viewport, $max-viewport) {
  $min-width-value: $min-value / 1px;
  $max-width-value: $max-value / 1px;
  $min-viewport-value: $min-viewport / 1px;
  $max-viewport-value: $max-viewport / 1px;

  @return calc(
    #{$min-width-value}px + (#{$max-width-value} - #{$min-width-value}) *
      ((100vw - #{$min-viewport-value}px) / (#{$max-viewport-value} - #{$min-viewport-value}))
  );
}

body {
  margin: 0;
}

.mainSectionWrapper {
  position: relative;
  background-color: #e7ecef;
  @media screen and (max-width: 520px) {
    overflow-x: hidden;
  }

  .mainSection {
    max-width: 1300px;
    margin: 0 auto;
    padding: 55px 0 0 0;

    @media (min-width: 1025px) and (max-width: 1440px) {
      max-width: values(884px, 1300px, 1025px, 1440px);
    }

    @media (min-width: 320px) and (max-width: 1025px) {
      max-width: values(280px, 884px, 320px, 1023px);
    }

    &__header {
      padding-bottom: 81px;
      display: flex;
      justify-content: space-between;
      position: relative;
      @media (min-width: 770px) and (max-width: 1150px) {
        flex-wrap: wrap;
      }
      @media (min-width: 1000px) and (max-width: 1023px) {
        padding-bottom: 24px;
      }
      @media (min-width: 320px) and (max-width: 1023px) {
        padding-bottom: 0px;
        flex-wrap: nowrap;
      }
      &-menuMob {
        display: none;

        @media (min-width: 320px) and (max-width: 1023px) {
          display: flex;
          width: 100vw;
          background: #5c686d;
          position: absolute;
          top: calc(100% + 17px);
          left: 50%;
          transform: translateX(-50%);
        }
        button {
          background: none;
          border: none;
          cursor: pointer;
          padding: 0;
          margin: 13px 0 15px 50px;
          @media (min-width: 770px) and (max-width: 1024px) {
            margin-left: values(55px, 75px, 770px, 1024px);
          }
          @media (min-width: 320px) and (max-width: 770px) {
            margin-left: values(45px, 55px, 320px, 770px);
          }
        }
        img {
          width: 24px;
          height: 24px;
        }
      }

      &-menuWrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (min-width: 320px) and (max-width: 1150px) {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        @media (min-width: 320px) and (max-width: 1023px) {
          max-width: 160px;
        }
        &-title {
          a {
            text-decoration: none;
            font-size: 32px;
            font-family: "Kyiv Type Sans", serif;
            font-weight: 400;
            color: #111517;
            @media (min-width: 320px) and (max-width: 475px) {
              font-size: values(20px, 32px, 320px, 475px);
            }
          }
        }

        &-menuList {
          list-style: none;
          padding: 0;
          margin: 0;

          display: flex;
          gap: 23px;
          @media (min-width: 1150px) and (max-width: 1440px) {
            gap: values(15px, 23px, 1150px, 1440px);
          }
          @media (min-width: 320px) and (max-width: 1023px) {
            display: none;
          }
          &-item {
            a {
              position: relative;
              display: inline-block;
              color: #111517;
              text-decoration: none;
              transition:
                color 0.3s ease,
                transform 0.3s ease;

              &:hover {
                color: #1f6c94;
                transform: translateY(-5px);
              }

              &::after {
                content: "";
                position: absolute;
                left: 50%;
                bottom: -20px;
                width: 10px;
                height: 10px;
                background: #1f6c94;
                transform: translateX(-50%) rotate(45deg) scale(0);
                opacity: 0;
                transition:
                  opacity 0.3s ease,
                  transform 0.3s ease;
              }

              &:hover::after {
                opacity: 1;
                transform: translateX(-50%) rotate(45deg) scale(1);
                bottom: -10px;
              }
            }
          }
          &-item {
            a {
              font-size: 24px;
              font-weight: 400;
              font-family: "KyivType Sans", sans-serif;
              text-decoration: none;
              color: #111517;
            }
          }
        }
      }
      &-call {
        padding-left: 80px;
        min-width: 258px;
        @media (min-width: 770px) and (max-width: 1150px) {
          width: 100%;
          display: flex;
          justify-content: end;
          padding: 36px 0 24px 0;
        }
        @media (min-width: 320px) and (max-width: 1023px) {
          min-width: inherit;
          padding: 0;
        }
      }
      &-callWrap {
        position: relative;
        max-width: 258px;
        border: 1px solid #1f6c94;
        border-radius: 20px;
        padding: 17.5px 23.5px;
        display: flex;
        align-items: center;
        gap: 10px;
        @media (min-width: 320px) and (max-width: 1023px) {
          max-width: values(120px, 258px, 320px, 1024px);
          border: none;
          padding: 0;
        }
        @media (min-width: 320px) and (max-width: 475px) {
          align-items: inherit;
        }

        &-img {
          width: 18px;
          height: 18px;
          @media (min-width: 320px) and (max-width: 475px) {
            width: values(9px, 15px, 320px, 475px);
            height: values(9px, 15px, 320px, 475px);
          }
          @media (min-width: 320px) and (max-width: 475px) {
            position: absolute;
            left: values(9px, 0px, 320px, 475px);
          }
        }

        &-textContainer {
          display: flex;
          flex-direction: column;
          text-align: center;

          font-size: 16px;
          font-weight: 400;
          font-family: "KyivType Sans", sans-serif;
          text-decoration: none;
          color: #1f6c94;
          @media (min-width: 320px) and (max-width: 770px) {
            font-size: values(10px, 16px, 320px, 770px);
          }

          span {
            margin-bottom: 7px;
            @media (min-width: 320px) and (max-width: 475px) {
              margin-bottom: values(3px, 7px, 320px, 475px);
            }
          }
          a {
            text-decoration: none;
            color: #1f6c94;
          }
        }
      }
    }
    &__yogaSubscription {
      &-wrapper {
        position: relative;
        display: flex;
        @media (min-width: 320px) and (max-width: 1150px) {
          flex-direction: column;
        }
      }
      &-generalImgContainer {
        display: flex;
        position: absolute;
        right: 0;
        padding-bottom: 20px;
        @media (min-width: 320px) and (max-width: 1150px) {
          position: inherit;
          display: flex;
          justify-content: center;
        }
        img {
          max-width: 1074px;
          @media (min-width: 1150px) and (max-width: 1350px) {
            max-width: values(850px, 1000px, 1150px, 1350px);
          }
          @media (min-width: 320px) and (max-width: 1150px) {
            max-width: values(413px, 850px, 320px, 1150px);
          }
          @media (min-width: 320px) and (max-width: 475px) {
            padding-bottom: 100px;
          }
        }
      }

      &-container {
        display: flex;
        flex-direction: column;

        &-title {
          margin: 0px 0 40px 0;
          @media (min-width: 320px) and (max-width: 1023px) {
            margin: 117px 0 40px 0;
          }
          @media (min-width: 320px) and (max-width: 770px) {
            font-size: values(32px, 64px, 320px, 770px);
          }

          &-yoga {
            display: inline-block;
            @media (min-width: 320px) and (max-width: 475px) {
              display: block;
            }
          }
          span {
            position: relative;
            display: inline-block;
            text-decoration: none;
            &::after {
              content: "";
              position: absolute;
              top: -5px;
              left: 30%;
              width: 18px;
              height: 18px;
              background: #1f6c94;
              transform: rotate(135deg);
              @media (min-width: 320px) and (max-width: 770px) {
                width: values(10px, 18px, 320px, 770px);
                height: values(10px, 18px, 320px, 770px);
              }
            }
          }

          font-size: 64px;
          font-family: "Kyiv Type Sans", sans-serif;
          font-weight: 500;
          color: #111517;
        }

        &-discription {
          max-width: 500px;
          font-size: 24px;
          font-family: "Kyiv Type Sans", sans-serif;
          font-weight: 500;
          color: #5c686d;
          @media (min-width: 320px) and (max-width: 770px) {
            font-size: values(16px, 24px, 320px, 770px);
          }
          @media (min-width: 320px) and (max-width: 475px) {
            padding: 0 0 15px 0;
          }
        }

        button {
          background: none;
          border: none;
          border-radius: 20px;
          max-width: 311px;

          margin: 40px 0;
          padding: 25px 16px;
          background-color: #1f6c94;

          font-size: 24px;
          font-family: "Kyiv Type Sans", sans-serif;
          font-weight: 300;

          color: #e7ecef;

          cursor: pointer;
          @media (min-width: 320px) and (max-width: 475px) {
            display: none;
          }
          @media (min-width: 475px) and (max-width: 770px) {
            max-width: values(250px, 311px, 475px, 770px);
            font-size: values(18px, 24px, 475px, 770px);
          }
        }
        &-visitors {
          display: flex;
          align-items: center;
          @media (min-width: 320px) and (max-width: 475px) {
            flex-direction: column;
            position: absolute;
            bottom: 15px;
            right: 0;
          }
          img:nth-child(1) {
            margin: 0 8px 0 0;
            @media (min-width: 320px) and (max-width: 475px) {
              margin: 0;
            }
          }
          &-textContainer {
            display: flex;
            flex-direction: column;
            div {
              display: flex;
              align-items: center;
            }
            span:nth-child(1) {
              font-size: 18px;
              font-family: "Kyiv Type Sans", sans-serif;
              font-weight: 500;
              @media (min-width: 320px) and (max-width: 475px) {
                font-size: values(14px, 18px, 475px, 320px);
              }
            }

            img {
              width: 18px;
              height: 18px;
            }

            span:nth-child(2) {
              margin: 0 5px;

              line-height: 16px;
              font-size: 12px;
              font-family: "Kyiv Type Sans", sans-serif;
              font-weight: 550;
              @media (min-width: 320px) and (max-width: 475px) {
                font-size: values(10px, 16px, 475px, 320px);
              }
            }
            span:nth-child(3) {
              font-size: 12px;
              font-family: "Kyiv Type Sans", sans-serif;
              font-weight: 300;

              color: #5c686d;
            }
          }
        }
        &-social {
          margin: 0;
          padding: 0;
          gap: 5px;
          display: flex;
          align-items: center;
          padding-top: 245px;
          padding-bottom: 55px;
          @media (min-width: 320px) and (max-width: 1150px) {
            position: absolute;
            bottom: 15px;
            padding: 0;
            margin: 0;
          }
          img:nth-child(1) {
            width: 35px;
            height: 35px;
            @media (min-width: 320px) and (max-width: 475px) {
              width: values(20px, 35px, 320px, 475px);
              height: values(20px, 35px, 320px, 475px);
            }
          }
          img:nth-child(2) {
            width: 44px;
            height: 44px;
            @media (min-width: 320px) and (max-width: 475px) {
              width: values(25px, 44px, 320px, 475px);
              height: values(25px, 44px, 320px, 475px);
            }
          }
          img:nth-child(3) {
            width: 44px;
            height: 44px;
            @media (min-width: 320px) and (max-width: 475px) {
              width: values(25px, 44px, 320px, 475px);
              height: values(25px, 44px, 320px, 475px);
            }
          }
        }
      }
    }
  }

  &-marker {
    bottom: -12px;
    position: absolute;
    padding: 6px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    @media screen and (max-width: 520px) {
      display: none;
    }
    &-left {
      width: 12px;
      border: 5px solid #1f6c94;
      background: #1f6c94;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    &-center {
      width: 12px;
      height: 12px;
      background: #1f6c94;
      transform: rotate(135deg);
    }
    &-right {
      width: 12px;
      border: 5px solid #1f6c94;
      background: #1f6c94;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }
}

.programSectionWrapper {
  position: relative;
  .programSection {
    max-width: 1300px;
    margin: 0 auto;
    padding: 55px 0 0 0;

    @media (min-width: 1025px) and (max-width: 1440px) {
      max-width: values(884px, 1300px, 1025px, 1440px);
    }

    @media (min-width: 320px) and (max-width: 1025px) {
      max-width: values(280px, 884px, 320px, 1023px);
    }
    &-marker {
      z-index: 100;
      bottom: -12px;
      position: absolute;
      padding: 6px 0;
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 5px;
      @media screen and (max-width: 520px) {
        display: none;
      }
      &-left {
        width: 12px;
        border: 5px solid #1f6c94;
        background: #1f6c94;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      }
      &-center {
        width: 12px;
        height: 12px;
        background: #1f6c94;
        transform: rotate(135deg);
      }
      &-right {
        width: 12px;
        border: 5px solid #1f6c94;
        background: #1f6c94;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
    }

    &__titleContainer {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 54px;
      &-title {
        font-size: 40px;
        font-family: "Kyiv Type Sans", sans-serif;
        font-weight: 550;
        color: #1f6c94;
        @media (min-width: 770px) and (max-width: 1000px) {
          font-size: values(35px, 40px, 770px, 1000px);
        }
        @media (min-width: 320px) and (max-width: 770px) {
          font-size: values(24px, 35px, 320px, 770px);
          line-height: unset;
        }
      }
      &-subtitle {
        font-size: 24px;
        line-height: 40px;
        font-family: "Kyiv Type Sans", sans-serif;
        font-weight: 400;
        color: #5c686d;
        @media (min-width: 770px) and (max-width: 1000px) {
          font-size: values(22px, 24px, 770px, 1000px);
        }
        @media (min-width: 320px) and (max-width: 770px) {
          font-size: values(14px, 24px, 320px, 770px);
          line-height: unset;
        }
      }
    }
    &__sliderWrapper {
      display: flex;
      justify-content: center;

      &-container {
        display: flex;
        gap: 20px;
        padding-bottom: 120px;
        @media (min-width: 770px) and (max-width: 1190px) {
          gap: 30px;
          justify-content: space-between;
          flex-wrap: wrap;
        }
        @media (min-width: 320px) and (max-width: 770px) {
          gap: 16px;
          overflow-x: auto;
          scroll-snap-type: x mandatory; /* Скролл по карточке */
          -webkit-overflow-scrolling: touch; /* Для плавного скролла на мобильных устройствах */
        }

        &-card {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;

          background-color: #e7ecef;
          border-radius: 20px;
          padding: 16px;
          @media (min-width: 770px) and (max-width: 1190px) {
            width: 380px;
          }
          @media (min-width: 770px) and (max-width: 1000px) {
            width: values(250px, 380px, 770px, 1000px);
          }
          @media (min-width: 320px) and (max-width: 770px) {
            flex: 0 0 auto;
            width: values(240px, 280px, 320px, 770px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            scroll-snap-align: center; /* Центрирование карточки */
          }

          &-marker {
            width: 11px;
            height: 11px;
            background: #1f6c94;
            transform: rotate(135deg);
            margin: 10px 0 20px 0;
          }
          &-title {
            font-size: 24px;
            line-height: 36px;
            font-family: "Kyiv Type Sans", sans-serif;
            font-weight: bold;
            color: #1f6c94;
            @media (min-width: 320px) and (max-width: 770px) {
              font-size: values(20px, 24px, 320px, 770px);
              line-height: unset;
            }
          }
          &-discription {
            text-align: center;
            font-size: 16px;
            line-height: 26px;
            font-family: "Kyiv Type Sans", sans-serif;
            font-weight: 400;
            color: #555d65;

            max-width: 245px;
            @media (min-width: 770px) and (max-width: 850px) {
              max-width: 265px;
            }
          }
          &-img {
            width: 200px;
            @media (min-width: 770px) and (max-width: 1190px) {
              width: values(200px, 340px, 770px, 1190px);
            }
          }
          &-button {
            display: flex;
            align-items: center;
            gap: 10px;

            font-size: 14px;
            font-family: "Kyiv Type Sans", sans-serif;
            font-weight: 400;
            color: #1f6c94;

            border-radius: 20px;
            border: 1px solid #1f6c94;

            padding: 16.5px 23px;
            margin-top: 23px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.trainersSectionWrapper {
  background-color: #e7ecef;
  position: relative;
  .trainersSection {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    padding: 60px 0 120px 0;

    font-family: "Kyiv Type Sans", sans-serif;

    @media (min-width: 1023px) and (max-width: 1440px) {
      max-width: values(884px, 1300px, 1023px, 1440px);
    }

    @media (min-width: 320px) and (max-width: 1023px) {
      max-width: values(280px, 884px, 320px, 1023px);
    }
    &-marker {
      bottom: -12px;
      position: absolute;
      padding: 6px 0;
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 5px;
      @media screen and (max-width: 520px) {
        display: none;
      }
      &-left {
        width: 12px;
        border: 5px solid #1f6c94;
        background: #1f6c94;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
      }
      &-center {
        width: 12px;
        height: 12px;
        background: #1f6c94;
        transform: rotate(135deg);
      }
      &-right {
        width: 12px;
        border: 5px solid #1f6c94;
        background: #1f6c94;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
      }
    }
    &__imgWrapper {
      @media (min-width: 770px) and (max-width: 2561px) {
        display: flex;
      }
      @media (min-width: 320px) and (max-width: 770px) {
        display: none;
      }
      @media (min-width: 1023px) and (max-width: 2561px) {
        max-width: values(430px, 522px, 1023px, 2561px);
      }
      @media (min-width: 770px) and (max-width: 1023px) {
        max-width: values(275px, 430px, 770px, 1023px);
      }
      &-img {
        width: 100%;
      }
    }
    &__textContainer {
      @media (min-width: 320px) and (max-width: 770px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      &-firstTitle {
        @media (min-width: 320px) and (max-width: 770px) {
          position: relative;
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 100%;
        }
        font-size: 40px;
        font-family: "Kyiv Type Sans", sans-serif;
        font-weight: 550;
        color: #1f6c94;
        @media (min-width: 320px) and (max-width: 1023px) {
          font-size: values(24px, 40px, 320px, 1023px);
        }
        &-arrowContainer {
          display: flex;
          align-items: center;
          gap: 16px;
          bottom: -30px;
          right: 0;
          @media (min-width: 771px) and (max-width: 2561px) {
            display: none;
          }

          &-arrowLeft {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 13px 18px 13px 16px;
            border: 1px solid #1f6c94;
            border-radius: 50%;
            @media (min-width: 320px) and (max-width: 1024px) {
              padding: values(6.5px, 13px, 320px, 1024px) values(9px, 18px, 320px, 1024px)
                values(6.5px, 13px, 320px, 1024px) values(8px, 16px, 320px, 1024px);
            }
            img {
              width: 16px;
              height: 24px;
              @media (min-width: 320px) and (max-width: 1024px) {
                width: values(8px, 16px, 320px, 770px);
                height: values(12px, 24px, 320px, 770px);
              }
            }
          }
          &-arrowRight {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 13px 16px 13px 18px;
            border: 1px solid #1f6c94;
            border-radius: 50%;
            background: #1f6c94;
            @media (min-width: 320px) and (max-width: 1024px) {
              padding: values(6.5px, 13px, 320px, 1024px) values(8px, 16px, 320px, 1024px)
                values(6.5px, 13px, 320px, 1024px) values(9px, 18px, 320px, 1024px);
            }
            img {
              width: 16px;
              height: 24px;
              @media (min-width: 320px) and (max-width: 1024px) {
                width: values(8px, 16px, 320px, 770px);
                height: values(12px, 24px, 320px, 770px);
              }
            }
          }
        }
      }
      &-mobImgContainer {
        max-width: 400px;
        position: relative;
        align-self: center;
        width: 100%;
        height: 400px;
        @media (min-width: 770px) and (max-width: 2561px) {
          display: none;
        }
        @media (min-width: 320px) and (max-width: 770px) {
          height: values(150px, 400px, 320px, 770px);
        }
        &-img {
          position: absolute;
          width: 360px;
          right: 40%;
          top: 0;
          transform: translate(65%);

          @media (min-width: 515px) and (max-width: 770px) {
            width: values(299px, 425px, 515px, 770px);
            right: values(200px, 169px, 515px, 770px);
            top: values(-6px, 0px, 515px, 770px);
          }

          @media (min-width: 320px) and (max-width: 515px) {
            width: values(197px, 450px, 320px, 770px);
            right: values(129px, 259px, 320px, 770px);
            top: values(-6px, 0px, 515px, 770px);
          }
        }
      }
      &-secondBlock {
        display: flex;
        flex-direction: column;
        position: relative;
        @media (min-width: 320px) and (max-width: 770px) {
          flex-direction: column-reverse;
        }
        @media (min-width: 320px) and (max-width: 770px) {
          &-marker {
            padding-bottom: 12px;
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 5px;

            &-left {
              width: 20px;
              border: 5px solid #1f6c94;
              background: #1f6c94;
              border-radius: 20px;
            }

            &-center {
              width: 12px;
              height: 12px;
              background: #1f6c94;
              transform: rotate(135deg);
            }

            &-right {
              width: 20px;
              border: 5px solid #1f6c94;
              background: #1f6c94;
              border-radius: 20px;
            }
          }
        }

        &-arrowContainer {
          position: absolute;
          display: flex;
          align-items: center;
          gap: 16px;
          bottom: -30px;
          right: 0;
          @media (min-width: 770px) and (max-width: 1271px) {
            bottom: -3px;
          }
          @media (min-width: 320px) and (max-width: 770px) {
            display: none;
          }

          &-arrowLeft {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 13px 18px 13px 16px;
            border: 1px solid #1f6c94;
            border-radius: 50%;
            @media (min-width: 320px) and (max-width: 1024px) {
              padding: values(6.5px, 13px, 320px, 1024px) values(9px, 18px, 320px, 1024px)
                values(6.5px, 13px, 320px, 1024px) values(8px, 16px, 320px, 1024px);
            }
            img {
              width: 16px;
              height: 24px;
              @media (min-width: 320px) and (max-width: 1024px) {
                width: values(8px, 16px, 320px, 770px);
                height: values(12px, 24px, 320px, 770px);
              }
            }
          }
          &-arrowRight {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 13px 16px 13px 18px;
            border: 1px solid #1f6c94;
            border-radius: 50%;
            background: #1f6c94;
            @media (min-width: 320px) and (max-width: 1024px) {
              padding: values(6.5px, 13px, 320px, 1024px) values(8px, 16px, 320px, 1024px)
                values(6.5px, 13px, 320px, 1024px) values(9px, 18px, 320px, 1024px);
            }
            img {
              width: 16px;
              height: 24px;
              @media (min-width: 320px) and (max-width: 1024px) {
                width: values(8px, 16px, 320px, 770px);
                height: values(12px, 24px, 320px, 770px);
              }
            }
          }
        }
        &-discription {
          font-size: 24px;
          font-family: "Kyiv Type Sans", sans-serif;
          font-weight: 400;
          line-height: 150%;
          color: #555d65;
          @media screen and (min-width: 1023px) {
            max-width: 630px;
          }
          @media (min-width: 1023px) and (max-width: 1440px) {
            font-size: values(16px, 24px, 1023px, 1440px);
            line-height: values(26px, 40px, 1023px, 1440px);
            max-width: 630px;
          }
          @media (min-width: 1160px) and (max-width: 1280px) {
            max-width: values(500px, 570px, 1023px, 1280px);
          }
          @media (min-width: 1022px) and (max-width: 1160px) {
            max-width: values(370px, 500px, 1023px, 1280px);
          }
          @media (min-width: 770px) and (max-width: 1023px) {
            font-size: 16px;
            line-height: 26px;
            max-width: 370px;
          }
          @media (min-width: 320px) and (max-width: 770px) {
            font-size: 16px;
            line-height: 26px;
            max-width: 370px;
          }
        }
        &-secondTitle {
          @media (min-width: 771px) and (max-width: 2560px) {
            position: relative;
          }
          padding-top: 36px;
          font-size: 36px;
          font-family: "Kyiv Type Sans", sans-serif;
          line-height: 48px;
          font-weight: 500;
          color: #1f6c94;
          &-container {
            display: flex;
            flex-direction: column;
          }
        }
        &-subscription {
          font-size: 24px;
          font-family: "Kyiv Type Sans", sans-serif;
          font-weight: 400;
          line-height: 48px;
          color: #111517;
          @media (min-width: 320px) and (max-width: 770px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.subscriptionSectionWrapper {
  position: relative;
  overflow-x: hidden;
  padding: 36px 0;

  &-marker {
    bottom: 0;
    position: absolute;
    padding: 6px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
    @media screen and (max-width: 520px) {
      display: none;
    }
    &-left {
      width: 12px;
      border: 5px solid #1f6c94;
      background: #1f6c94;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    &-center {
      width: 12px;
      height: 12px;
      background: #1f6c94;
      transform: rotate(135deg);
    }
    &-right {
      width: 12px;
      border: 5px solid #1f6c94;
      background: #1f6c94;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
  }

  .subscriptionSection {
    font-family: "Kyiv Type Sans", sans-serif;

    margin: 0 auto;

    max-width: 1300px;

    // Медиа страницы
    @media (min-width: 1023px) and (max-width: 1440px) {
      max-width: values(884px, 1300px, 1023px, 1440px);
    }
    @media (min-width: 320px) and (max-width: 1023px) {
      max-width: values(280px, 884px, 320px, 1023px);
    }

    &__headerTitleContainer {
      margin-bottom: 60px;
      &-title {
        margin: 0;
        padding: 0;

        font-size: 40px;
        font-weight: 500;

        color: #1f6c94;

        @media (min-width: 320px) and (max-width: 980px) {
          font-size: values(24px, 40px, 320px, 980px);
        }
      }
      &-subtitle {
        margin: 0;
        padding: 24px 0 0 0;

        font-size: 24px;
        font-weight: 400;
        line-height: 150%;

        color: #555d65;

        @media (min-width: 320px) and (max-width: 980px) {
          font-size: values(16px, 24px, 320px, 980px);
          padding: values(16px, 24px, 320px, 980px) 0 0 0;
        }
      }
    }
    &__cardWrapper {
      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 2;

      @media (min-width: 320px) and (max-width: 980px) {
        flex-direction: column;
        gap: 10px;

        width: 95vw;
        left: 50%;
        transform: translate(-50%);
      }

      &-wrap:nth-child(1) {
        z-index: 1;
        align-self: flex-start;
        &:hover {
          z-index: 20;
        }
      }
      &-wrap:nth-child(2) {
        align-self: center;
      }

      &-wrap:nth-child(3) {
        z-index: 1;
        align-self: flex-end;
        &:hover {
          z-index: 10;
        }
      }

      &-wrap {
        width: 360px;
        height: 318px;
        z-index: 10;

        @media (min-width: 1024px) and (max-width: 1440px) {
          width: values(275px, 360px, 1024px, 1440px);
          height: values(245px, 318px, 1024px, 1440px);
        }

        @media (min-width: 981px) and (max-width: 1024px) {
          width: values(275px, 275px, 980px, 1024px);
          height: values(245px, 245px, 980px, 1024px);
        }

        @media (min-width: 320px) and (max-width: 981px) {
          width: values(210px, 275px, 320px, 981px);
          height: values(188px, 245px, 320px, 981px);
        }
        .subscriptionSection__cardWrapper-wrap-card-center:hover {
          .subscriptionSection__cardWrapper-wrap {
            z-index: 1;
          }
        }

        &-card {
          position: relative;
          box-sizing: border-box;
          display: flex;
          justify-content: space-between;
          flex-direction: column;

          color: #1f6c94;
          background-color: #e7ecef;

          padding: 26px;
          border-radius: 10px;

          width: 100%;
          height: 100%;
          transition: all ease-in-out 0.5s;

          @media (min-width: 320px) and (max-width: 980px) {
            width: values(210px, 275px, 320px, 980px);
            height: values(188px, 245px, 320px, 980px);
            gap: 3px;

            .subscriptionSection__cardWrapper-wrap-card-hover {
              display: none;
            }

            &:hover {
              cursor: pointer;
              color: #e7ecef !important;
              background-color: #1f6c94;
              transition: all ease-in-out 0.5s;

              .subscriptionSection__cardWrapper-wrap-card-btn {
                background-color: #e7ecef;
                color: #1f6c94;
                &:active {
                  background-color: #1f6c94;
                  color: #e7ecef;
                  outline: 1px solid #e7ecef;
                }
              }
              .subscriptionSection__cardWrapper-wrap-marker {
                display: none;
              }

              .subscriptionSection__cardWrapper-wrap-card-hover {
                position: absolute;
                display: flex;
                z-index: -10;

                background: #e7ecef;
                box-shadow: 0px 0px 7px black;

                left: 50%;
                top: 50%;
                width: 320px;
                height: 320px;
                transform: translate(-50%, -50%) rotate(45deg);
                opacity: 0;

                @media (min-width: 320px) and (max-width: 1440px) {
                  width: values(170px, 320px, 320px, 1440px);
                  height: values(170px, 320px, 320px, 1440px);
                }
              }

              &:hover .subscriptionSection__cardWrapper-wrap-card-hover {
                animation: hoverSlow 0.5s ease-in-out 0.4s forwards;
              }
            }

            @keyframes hoverSlow {
              0% {
                transform: translate(0%) rotate(45deg);
                opacity: 0;
              }
              100% {
                transform: translate(-50%, -50%) rotate(45deg);
                opacity: 1;
              }
            }
          }

          &-left {
            @media (min-width: 320px) and (max-width: 980px) {
              align-self: flex-start;
            }
          }

          &-center {
            @media (min-width: 980px) and (max-width: 1024px) {
              margin-top: 83px;
            }
          }

          &-price {
            font-size: 58px;
            font-weight: 500;
            line-height: 63.8px;

            @media (min-width: 1024px) and (max-width: 1440px) {
              font-size: values(48px, 58px, 1024px, 1440px);
            }
            @media (min-width: 980px) and (max-width: 1024px) {
              font-size: values(48px, 48px, 980px, 1024px);
            }
            @media (min-width: 320px) and (max-width: 980px) {
              font-size: values(36px, 48px, 320px, 980px);
              line-height: auto;
            }
          }
          &-discription {
            font-size: 17px;
            font-weight: 400;
            line-height: 19.5px;

            max-width: 300px;

            @media (min-width: 1024px) and (max-width: 1440px) {
              font-size: values(15px, 17px, 1024px, 1440px);
            }
            @media (min-width: 980px) and (max-width: 1024px) {
              font-size: values(15px, 17px, 980px, 1024px);
            }
            @media (min-width: 320px) and (max-width: 980px) {
              font-size: values(12px, 15px, 320px, 980px);
              line-height: unset;
            }
          }

          &-btn {
            align-self: flex-end;

            font-size: 14px;
            font-weight: 400;
            line-height: auto;
            letter-spacing: 1.12px;

            color: #e7ecef;
            background-color: #1f6c94;

            padding: 14px 28px;
            border-radius: 20px;
            border: none;

            cursor: pointer;

            @media (min-width: 1024px) and (max-width: 1440px) {
              padding: values(9px, 14px, 1024px, 1440px) 28px;
            }

            @media (min-width: 320px) and (max-width: 980px) {
              font-size: values(11px, 14px, 320px, 980px);
              padding: values(6px, 9px, 320px, 980px) 22px;
            }

            &:active {
              margin: 0;

              color: #1f6c94;
              background-color: #e7ecef;

              outline: 1px solid #1f6c94;
            }
          }
          &-marker {
            position: absolute;
            top: calc(100% + 16px);
            right: 50%;

            background-color: #1f6c94;

            width: 11px;
            height: 11px;
            transform: translate(-50%);
            transform: rotate(135deg);

            @media (min-width: 320px) and (max-width: 980px) {
              display: none;
            }
          }
        }
      }
    }
  }
}
