@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
	margin: 0;
	padding: 0;

	font-family: montserrat;
	font-size: 2rem;

	background: #63398d;
}

.wrapper {
	height: 100vh;
	margin: 0 auto;
	padding: 0 1%;
	display: flex;
	flex-direction: column;
}

.block__container:nth-child(1) {
	display: flex;
	justify-content: space-between;
	padding: 1% 0;
}

.block__container:nth-child(2) {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.block {
	border: 5px solid rgb(255, 255, 255);
	border-radius: 5px;
	width: 200px;
	height: 200px;
	margin: 0 1%;
	background: #00000049;

	display: flex;
	justify-content: center;
	align-items: center;

	color: #fff;
	font-weight: bold;
}

.block:nth-child(1) {
	flex-grow: 1;
}
.block:nth-child(2) {
	flex-basis: 200px;
}

@media (max-width: 600px) {
	.block__container {
		flex-direction: column;
	}
	.block {
		margin: 1% 0;
	}
}
