@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
	margin: 0;
	padding: 0;

	font-family: montserrat;
	font-weight: bold;

	color: #000000;
}

.wrapper {
	min-height: 100vh;
	display: grid;
	grid-template: minmax(100px, auto) 1fr / minmax(auto, 300px);
	grid-template-areas:
		'aside header '
		'aside main  '
		'aside main  ';
}

.header {
	grid-area: header;
	background: rgb(93, 49, 250);
}

.header a {
	color: black;
	text-decoration: none;
}

.aside {
	grid-area: aside;
	background: rgb(255, 86, 173);
}

.main {
	grid-area: main;

	background: rgb(167, 138, 254);
}

.main__container {
	display: grid;

	grid-template:
		1fr / minmax(auto, 200px) minmax(auto, 200px) minmax(auto, 200px)
		/ 1fr;
	gap: 0 1%;
	justify-content: center;
	align-content: center;

	padding: 1%;
}

.main__block {
}

.main__block-content img {
	max-width: 100%;
	max-height: 100%;
}

.main__block-content-text {
}

/* @media (max-width: 600px) {
	.main {
		grid-template: 1fr / minmax(auto, 200px) minmax(auto, 200px);
	}
} */
