/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
	margin: 0;
	padding: 0;

	font-family: montserrat;
	font-weight: bold;

	color: #000000;
}

.wrapper {
	display: grid;
	grid-template: auto-fill 1fr;

	margin: 0;
	padding: 0;

	min-height: 100vh;
}

.grid-container {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 1%;

	align-items: center;

	min-height: 100%;
}

.content-block {
	text-align: center;
	padding: 20px;

	border: 2px dashed black;
	background-color: #f0f0f0;
}
