@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
body {
  position: relative;
  background: linear-gradient(
    90deg,
    rgb(255, 123, 123),
    rgb(100, 200, 100),
    rgb(120, 50, 200)
  );
  height: 100vh;
  margin: 0 auto;
  font-family: source code pro;
  font-size: 2rem;
}

nav {
  display: flex;
  justify-content: start;
}

h1 {
  position: absolute;
  padding: 0 1%;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  border: 7px solid rgb(255, 255, 255);
  border-radius: 60px;
  padding: 10%;
}

img {
  margin: 5% 0 0 0;
  max-width: 1000px;
  height: auto;
  border-radius: 55px;
  box-shadow: 0px 0px 20px -3px black;
}

.text__container {
  display: flex;
  flex-direction: column;
}

article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 2em;
  margin: 0;
}
P {
  text-align: end;
  color: hsla(0, 0%, 100%, 0.816);
  margin: 0;
  font-size: 1em;
}
aside {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 0 100px 0;
}
aside > p {
  background: linear-gradient(
    90deg,
    rgb(25, 232, 255),
    rgb(0, 0, 0),
    rgb(0, 0, 0)
  );
  box-shadow: 0px 0px 20px -3px black;
  padding: 30px;
  border-radius: 55px;
  width: 800px;
  text-align: justify;
}
